bin/
obj/
*/bin/
*/obj/
.vs/
*.user
*.suo
*.userprefs
*.log
*.tmp
*.cache
*.DS_Store
Thumbs.db
Debug/
x64/
LoginServerIdaPro/
appsettings.login.json
appsettings.account.json
Settings/appsettings.account.json
558fba0/
AccountServerIdaPro/
LoginServerIdaPro/
tools/
WorldServerIdaPro/
WorldServer/x64/
WorldServer/WorldServer/
worldserver/worldserver/*

