USE [master]
GO
/****** Object:  Database [RF_User]    Script Date: 12/01/2026 16:35:26 ******/
CREATE DATABASE [RF_User]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RF_User_Data', FILENAME = N'D:\RF Server\db\RF_User.MDF' , SIZE = 111616KB , MAXSIZE = UNLIMITED, FILEGROWTH = 102400KB )
 LOG ON 
( NAME = N'RF_User_Log', FILENAME = N'D:\RF Server\db\RF_User.LDF' , SIZE = 141824KB , MAXSIZE = UNLIMITED, FILEGROWTH = 102400KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RF_User].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [RF_User]
GO
/****** Object:  User [rfbrazilaccount]    Script Date: 12/01/2026 16:35:27 ******/
CREATE USER [rfbrazilaccount] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[rfbrazilaccount]
GO
/****** Object:  User [rf_merge]    Script Date: 12/01/2026 16:35:27 ******/
CREATE USER [rf_merge] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[rf_merge]
GO
/****** Object:  User [rf_billing]    Script Date: 12/01/2026 16:35:27 ******/
CREATE USER [rf_billing] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[rf_billing]
GO
/****** Object:  User [ph_user]    Script Date: 12/01/2026 16:35:27 ******/
CREATE USER [ph_user] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[ph_user]
GO
/****** Object:  User [gferreira]    Script Date: 12/01/2026 16:35:27 ******/
CREATE USER [gferreira] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[gferreira]
GO
/****** Object:  User [eventuser]    Script Date: 12/01/2026 16:35:27 ******/
CREATE USER [eventuser] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[eventuser]
GO
/****** Object:  User [account_lug]    Script Date: 12/01/2026 16:35:27 ******/
CREATE USER [account_lug] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[account_lug]
GO
ALTER ROLE [db_owner] ADD MEMBER [rfbrazilaccount]
GO
ALTER ROLE [db_datareader] ADD MEMBER [rf_merge]
GO
ALTER ROLE [db_owner] ADD MEMBER [rf_billing]
GO
ALTER ROLE [db_datareader] ADD MEMBER [ph_user]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [gferreira]
GO
ALTER ROLE [db_datareader] ADD MEMBER [gferreira]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [gferreira]
GO
/****** Object:  Schema [account_lug]    Script Date: 12/01/2026 16:35:27 ******/
CREATE SCHEMA [account_lug]
GO
/****** Object:  Schema [eventuser]    Script Date: 12/01/2026 16:35:27 ******/
CREATE SCHEMA [eventuser]
GO
/****** Object:  Schema [gferreira]    Script Date: 12/01/2026 16:35:27 ******/
CREATE SCHEMA [gferreira]
GO
/****** Object:  Schema [ph_user]    Script Date: 12/01/2026 16:35:27 ******/
CREATE SCHEMA [ph_user]
GO
/****** Object:  Schema [rf_billing]    Script Date: 12/01/2026 16:35:27 ******/
CREATE SCHEMA [rf_billing]
GO
/****** Object:  Schema [rf_merge]    Script Date: 12/01/2026 16:35:27 ******/
CREATE SCHEMA [rf_merge]
GO
/****** Object:  Schema [rfbrazilaccount]    Script Date: 12/01/2026 16:35:27 ******/
CREATE SCHEMA [rfbrazilaccount]
GO
/****** Object:  Table [dbo].[nopach]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nopach](
	[IP] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_block_ip]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_block_ip](
	[nSerial] [int] IDENTITY(1,1) NOT NULL,
	[addr0] [tinyint] NOT NULL,
	[addr1] [tinyint] NOT NULL,
	[addr2] [tinyint] NOT NULL,
	[addr3] [tinyint] NOT NULL,
	[addr4] [tinyint] NOT NULL,
	[addr2range] [tinyint] NOT NULL,
 CONSTRAINT [PK_tbl_block_ip] PRIMARY KEY CLUSTERED 
(
	[nSerial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_bugtime_connect_in_pcbang]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_bugtime_connect_in_pcbang](
	[nworldcode] [int] NOT NULL,
	[navatorserial] [int] NULL,
	[account] [char](17) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_bugtime_connectpcbang]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_bugtime_connectpcbang](
	[f1] [tinyint] NOT NULL,
	[f2] [tinyint] NOT NULL,
	[f3] [tinyint] NOT NULL,
	[f4] [tinyint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_chargeresultstr]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_chargeresultstr](
	[ID] [tinyint] NOT NULL,
	[strError] [varchar](32) NOT NULL,
 CONSTRAINT [PK_tbl_chargeresultstr] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_connect_in_bugtime]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_connect_in_bugtime](
	[ip] [nvarchar](16) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_connect_pcbang]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_connect_pcbang](
	[ip] [nvarchar](16) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_connectpcbang_charserial]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_connectpcbang_charserial](
	[nWorldCode] [tinyint] NOT NULL,
	[nAvatorSerial] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_CristalBattle_Log]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_CristalBattle_Log](
	[ID] [int] IDENTITY(220,1) NOT NULL,
	[DID] [int] NOT NULL,
	[SID] [int] NOT NULL,
	[Nth] [tinyint] NOT NULL,
	[MasterRace] [tinyint] NOT NULL,
	[MasterName] [varchar](17) NOT NULL,
	[MasterClass] [char](4) NOT NULL,
	[B_BossName] [varchar](17) NOT NULL,
	[C_BossName] [varchar](17) NOT NULL,
	[A_BossName] [varchar](17) NOT NULL,
	[MasterSubBossName1] [varchar](17) NOT NULL,
	[MasterSubBossName2] [varchar](17) NOT NULL,
	[MasterSubBossName3] [varchar](17) NOT NULL,
	[MasterSubBossName4] [varchar](17) NOT NULL,
	[MasterSubBossName5] [varchar](17) NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[GetTime] [datetime] NOT NULL,
	[ChaosHour] [tinyint] NOT NULL,
	[ChaosMin] [tinyint] NOT NULL,
	[ElapseHour] [tinyint] NOT NULL,
	[ElapseMin] [tinyint] NOT NULL,
	[ElapseSec] [tinyint] NOT NULL,
	[KeeperHitter] [varchar](17) NOT NULL,
	[ByAnimus] [tinyint] NOT NULL,
	[DestroyRace] [tinyint] NULL,
 CONSTRAINT [PK_tbl_CristalBattle_Log] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_exp_connectip]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_exp_connectip](
	[F1] [tinyint] NOT NULL,
	[F2] [tinyint] NOT NULL,
	[F3] [tinyint] NOT NULL,
	[F4] [tinyint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_GMActLog]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_GMActLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Account] [varchar](17) NOT NULL,
	[TID] [int] NOT NULL,
	[PID] [int] NOT NULL,
	[ActDate] [datetime] NOT NULL,
 CONSTRAINT [PK_tbl_GMActLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_GMActParam]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_GMActParam](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Param1] [sql_variant] NULL,
	[Param2] [sql_variant] NULL,
	[Param3] [sql_variant] NULL,
	[Param4] [sql_variant] NULL,
	[Param5] [sql_variant] NULL,
	[Param6] [sql_variant] NULL,
	[Param7] [sql_variant] NULL,
	[Param8] [sql_variant] NULL,
	[Param9] [sql_variant] NULL,
 CONSTRAINT [PK_tbl_GMActParam] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_GMActType]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_GMActType](
	[ID] [int] NOT NULL,
	[bLog] [bit] NOT NULL,
	[TypeName] [varchar](50) NOT NULL,
	[TypeNameKor] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_GMActType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_GMjobLog]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_GMjobLog](
	[nSerial] [int] IDENTITY(1,1) NOT NULL,
	[szGMID] [varchar](18) NOT NULL,
	[nKind] [tinyint] NOT NULL,
	[szAvatorName] [varchar](18) NULL,
	[nAvatorSerial] [int] NULL,
	[nAccountSerial] [int] NULL,
	[szDetail] [varchar](50) NOT NULL,
	[dtDate] [datetime] NOT NULL,
 CONSTRAINT [PK_tbl_GMjobLog] PRIMARY KEY CLUSTERED 
(
	[nSerial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_HolyQuest_Log]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_HolyQuest_Log](
	[serial] [int] IDENTITY(1,1) NOT NULL,
	[ServerName] [varchar](32) NOT NULL,
	[race] [tinyint] NOT NULL,
	[CharName] [varchar](17) NOT NULL,
	[LogDate] [datetime] NOT NULL,
	[dstRace] [tinyint] NOT NULL,
 CONSTRAINT [PK_tbl_HolyQuest_Log] PRIMARY KEY NONCLUSTERED 
(
	[serial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_HostAccount]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_HostAccount](
	[Account] [varchar](17) NOT NULL,
	[Password] [varchar](17) NOT NULL,
	[Serial] [int] IDENTITY(1,1) NOT NULL,
	[Grade] [tinyint] NOT NULL,
	[Depart] [varchar](24) NULL,
	[RealName] [varchar](12) NULL,
	[Grade1] [tinyint] NOT NULL,
 CONSTRAINT [PK_tbl_HostAccount] PRIMARY KEY CLUSTERED 
(
	[Account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_iplist_pcbang]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_iplist_pcbang](
	[IP1] [tinyint] NOT NULL,
	[IP2] [tinyint] NOT NULL,
	[IP3] [tinyint] NOT NULL,
	[IP4] [tinyint] NOT NULL,
	[lastip] [tinyint] NOT NULL,
 CONSTRAINT [PK_iplist_pcbangt] PRIMARY KEY CLUSTERED 
(
	[IP1] ASC,
	[IP2] ASC,
	[IP3] ASC,
	[IP4] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ItemBatch]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ItemBatch](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DCK] [bit] NULL,
	[RID] [tinyint] NULL,
	[account] [varchar](17) NOT NULL,
	[server] [varchar](32) NOT NULL,
	[name] [varchar](17) NOT NULL,
	[serial] [int] NOT NULL,
	[itemcode] [varchar](10) NOT NULL,
	[D] [int] NOT NULL,
	[U] [varchar](15) NOT NULL,
	[adddate] [datetime] NULL,
	[givedate] [datetime] NULL,
	[deldate] [datetime] NULL,
	[charger] [varchar](17) NULL,
	[deleter] [varchar](17) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_LUAccount]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_LUAccount](
	[id] [binary](16) NOT NULL,
	[password] [binary](24) NOT NULL,
	[BCodeTU] [tinyint] NOT NULL,
	[accounttype] [tinyint] NULL,
	[Email] [varchar](50) NULL,
 CONSTRAINT [PK_RF_LUAccount] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_protocolaccesslog]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_protocolaccesslog](
	[Idx] [int] IDENTITY(1,1) NOT NULL,
	[ProtocolMsgID] [int] NOT NULL,
	[ProtocolID] [int] NOT NULL,
	[GMSerial] [int] NOT NULL,
	[AccessDate] [datetime] NOT NULL,
	[ProtocolFld0] [binary](128) NULL,
	[ProtocolFld1] [binary](128) NULL,
	[ProtocolFld2] [binary](128) NULL,
	[ProtocolFld3] [binary](128) NULL,
	[ProtocolFld4] [binary](128) NULL,
	[ProtocolFld5] [binary](128) NULL,
	[ProtocolFld6] [binary](128) NULL,
	[ProtocolFld7] [binary](128) NULL,
	[ProtocolFld8] [binary](128) NULL,
	[ProtocolFld9] [binary](128) NULL,
 CONSTRAINT [PF_tbl_protocolaccesslog_Idx] PRIMARY KEY CLUSTERED 
(
	[Idx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_protocolauthinfo]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_protocolauthinfo](
	[Idx] [int] IDENTITY(1,1) NOT NULL,
	[dck] [bit] NOT NULL,
	[P_MsgID] [int] NOT NULL,
	[P_ID] [int] NOT NULL,
	[P_AuthType] [tinyint] NOT NULL,
	[GMID] [varchar](17) NOT NULL,
	[GMSerial] [int] NOT NULL,
 CONSTRAINT [PF_tbl_protocolauthinfo_Idx] PRIMARY KEY CLUSTERED 
(
	[Idx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_protocolinfo]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_protocolinfo](
	[Idx] [int] IDENTITY(1,1) NOT NULL,
	[dck] [bit] NOT NULL,
	[ProtocolMsgID] [int] NOT NULL,
	[ProtocolID] [int] NOT NULL,
	[ProtocolName] [varchar](64) NOT NULL,
	[ProtocolExplain] [varchar](256) NOT NULL,
	[ProtocolFldCnt] [tinyint] NOT NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PF_tbl_protocolinfo_Idx] PRIMARY KEY CLUSTERED 
(
	[Idx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_rfaccount]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_rfaccount](
	[id] [binary](13) NOT NULL,
	[password] [binary](13) NOT NULL,
	[accounttype] [tinyint] NOT NULL,
	[birthdate] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_rfaccount] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_RFTestAccount]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_RFTestAccount](
	[id] [binary](16) NOT NULL,
	[password] [binary](24) NOT NULL,
	[BCodeTU] [tinyint] NOT NULL,
	[email] [varchar](50) NULL,
 CONSTRAINT [PK_RF_Test_Account] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ServerUser_Log]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ServerUser_Log](
	[serial] [int] IDENTITY(1,1) NOT NULL,
	[dtDate] [datetime] NOT NULL,
	[nAverageUser] [int] NOT NULL,
	[nMaxUser] [int] NOT NULL,
	[ServerName] [varchar](32) NOT NULL,
	[nBellaUser] [int] NOT NULL,
	[nCoraUser] [int] NOT NULL,
	[nAccUser] [int] NOT NULL,
 CONSTRAINT [PK_tbl_ServerUser_Log] PRIMARY KEY CLUSTERED 
(
	[serial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_StaffAccount]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_StaffAccount](
	[Serial] [int] IDENTITY(2000000000,1) NOT NULL,
	[ID] [binary](17) NOT NULL,
	[PW] [binary](24) NOT NULL,
	[Grade] [tinyint] NOT NULL,
	[Depart] [varchar](32) NOT NULL,
	[RealName] [varchar](12) NOT NULL,
	[LastConnIP] [char](16) NOT NULL,
	[CreateDT] [datetime] NOT NULL,
	[LastLoginDT] [datetime] NOT NULL,
	[LastLogoffDT] [datetime] NOT NULL,
	[TotalLogMin] [int] NOT NULL,
	[SubGrade] [tinyint] NOT NULL,
	[ExpireDT] [datetime] NOT NULL,
	[ComClass] [varchar](12) NOT NULL,
	[BirthDay] [char](10) NOT NULL,
 CONSTRAINT [PK_tbl_StaffAccount] PRIMARY KEY CLUSTERED 
(
	[Serial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_tbl_StaffAccount] UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_StaffAccount_BKP]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_StaffAccount_BKP](
	[Serial] [int] IDENTITY(2000000000,1) NOT NULL,
	[ID] [binary](17) NOT NULL,
	[PW] [binary](24) NOT NULL,
	[Grade] [tinyint] NOT NULL,
	[Depart] [varchar](32) NOT NULL,
	[RealName] [varchar](12) NOT NULL,
	[LastConnIP] [char](16) NOT NULL,
	[CreateDT] [datetime] NOT NULL,
	[LastLoginDT] [datetime] NOT NULL,
	[LastLogoffDT] [datetime] NOT NULL,
	[TotalLogMin] [int] NOT NULL,
	[SubGrade] [tinyint] NOT NULL,
	[ExpireDT] [datetime] NOT NULL,
	[ComClass] [varchar](12) NOT NULL,
	[BirthDay] [char](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_UserAccount]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserAccount](
	[serial] [int] IDENTITY(1,1) NOT NULL,
	[id] [binary](16) NOT NULL,
	[createtime] [datetime] NOT NULL,
	[createip] [char](16) NOT NULL,
	[lastlogintime] [datetime] NOT NULL,
	[lastlogofftime] [datetime] NOT NULL,
	[totallogmin] [int] NOT NULL,
	[lastconnectip] [char](16) NOT NULL,
	[pushclosetime] [datetime] NOT NULL,
	[pusherip] [char](16) NOT NULL,
	[JoinCode] [int] NOT NULL,
	[LoginFailureCnt] [tinyint] NOT NULL,
	[fire_on] [smalldatetime] NOT NULL,
	[fire_warning] [smalldatetime] NOT NULL,
	[uilock] [tinyint] NOT NULL,
	[uilock_pw] [binary](13) NOT NULL,
	[uilock_failcnt] [tinyint] NOT NULL,
	[uilock_update] [smalldatetime] NOT NULL,
	[uilock_hintindex] [tinyint] NOT NULL,
	[uilock_hintanswer] [binary](17) NOT NULL,
	[uilock_find_pass_failcnt] [tinyint] NOT NULL,
 CONSTRAINT [PK_tbl_rfuser] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_tbl_rfuser] UNIQUE NONCLUSTERED 
(
	[serial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_UserBan]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserBan](
	[nAccountSerial] [int] NOT NULL,
	[dtStartDate] [datetime] NOT NULL,
	[nPeriod] [int] NOT NULL,
	[nKind] [tinyint] NOT NULL,
	[szReason] [varchar](32) NULL,
	[GMReason] [varchar](32) NOT NULL,
	[GMWriter] [varchar](32) NOT NULL,
	[ReasonType] [tinyint] NOT NULL,
 CONSTRAINT [PK_tbl_UserBan] PRIMARY KEY CLUSTERED 
(
	[nAccountSerial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_UserBan_Log]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserBan_Log](
	[nSerial] [int] IDENTITY(1,1) NOT NULL,
	[nAccountSerial] [int] NOT NULL,
	[dtStartdate] [datetime] NOT NULL,
	[nPeriod] [int] NOT NULL,
	[nKind] [tinyint] NOT NULL,
	[szReason] [varchar](32) NULL,
	[GMReason] [varchar](32) NOT NULL,
	[GMWriter] [varchar](32) NOT NULL,
 CONSTRAINT [PK_tbl_UserBan_Log] PRIMARY KEY CLUSTERED 
(
	[nSerial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_UserCount_Log]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserCount_Log](
	[serial] [int] IDENTITY(1,1) NOT NULL,
	[dtDate] [datetime] NOT NULL,
	[nAverageUser] [int] NOT NULL,
	[nMaxUser] [int] NOT NULL,
	[nMaxUserTestServer] [int] NOT NULL,
 CONSTRAINT [PK_tbl_UserCount_Log] PRIMARY KEY CLUSTERED 
(
	[serial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_usercurrentstate]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_usercurrentstate](
	[serial] [int] NOT NULL,
	[state] [tinyint] NOT NULL,
 CONSTRAINT [PK_tbl_usercurrentstate] PRIMARY KEY CLUSTERED 
(
	[serial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_UserPush_Log]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserPush_Log](
	[nAccountSerial] [int] NOT NULL,
	[dtDate] [datetime] NOT NULL,
	[PushIP] [varchar](16) NOT NULL,
	[CloseIP] [varchar](16) NOT NULL,
 CONSTRAINT [PK_tbl_UserPush_Log] PRIMARY KEY CLUSTERED 
(
	[nAccountSerial] ASC,
	[dtDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_WorldHistory_Log]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_WorldHistory_Log](
	[serverName] [char](12) NOT NULL,
	[race] [char](12) NOT NULL,
	[avatorNum] [int] NOT NULL,
	[dalant] [bigint] NOT NULL,
	[gold] [bigint] NOT NULL,
	[lv] [int] NOT NULL,
	[logDate] [datetime] NOT NULL,
	[idx] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_tbl_WorldHistory_Log] PRIMARY KEY CLUSTERED 
(
	[idx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_WorldServer_List]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_WorldServer_List](
	[Serial] [int] NOT NULL,
	[Name] [varchar](32) NOT NULL,
	[State] [int] NOT NULL,
	[LastUpdate] [datetime] NOT NULL,
	[msrepl_tran_version] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_tbl_WorldServer_List] PRIMARY KEY CLUSTERED 
(
	[Serial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbNoPach]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbNoPach](
	[serial] [int] IDENTITY(1,1) NOT NULL,
	[id] [binary](16) NOT NULL,
	[createtime] [datetime] NOT NULL,
	[createip] [char](16) NOT NULL,
	[lastlogintime] [datetime] NOT NULL,
	[lastlogofftime] [datetime] NOT NULL,
	[totallogmin] [int] NOT NULL,
	[lastconnectip] [char](16) NOT NULL,
	[pushclosetime] [datetime] NOT NULL,
	[pusherip] [char](16) NOT NULL,
	[JoinCode] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Index [IX_tbl_rfaccount]    Script Date: 12/01/2026 16:35:27 ******/
CREATE NONCLUSTERED INDEX [IX_tbl_rfaccount] ON [dbo].[tbl_rfaccount]
(
	[password] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RF_Test_Account]    Script Date: 12/01/2026 16:35:27 ******/
CREATE NONCLUSTERED INDEX [IX_RF_Test_Account] ON [dbo].[tbl_RFTestAccount]
(
	[password] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_block_ip] ADD  CONSTRAINT [DF_tbl_permit_ip_addr3]  DEFAULT ((0)) FOR [addr3]
GO
ALTER TABLE [dbo].[tbl_block_ip] ADD  CONSTRAINT [DF_tbl_permit_ip_addr4]  DEFAULT ((255)) FOR [addr4]
GO
ALTER TABLE [dbo].[tbl_block_ip] ADD  CONSTRAINT [DF_tbl_block_ip_addr2range]  DEFAULT ((255)) FOR [addr2range]
GO
ALTER TABLE [dbo].[tbl_chargeresultstr] ADD  CONSTRAINT [DF_tbl_chargeresultstr_strError]  DEFAULT ('') FOR [strError]
GO
ALTER TABLE [dbo].[tbl_CristalBattle_Log] ADD  CONSTRAINT [DF_tbl_CristalBattle_Log_GetTime]  DEFAULT (getdate()) FOR [GetTime]
GO
ALTER TABLE [dbo].[tbl_CristalBattle_Log] ADD  CONSTRAINT [DF_tbl_CristalBattle_Log_ElapseHour]  DEFAULT ((0)) FOR [ElapseHour]
GO
ALTER TABLE [dbo].[tbl_CristalBattle_Log] ADD  CONSTRAINT [DF_tbl_CristalBattle_Log_ElapseMin]  DEFAULT ((0)) FOR [ElapseMin]
GO
ALTER TABLE [dbo].[tbl_CristalBattle_Log] ADD  CONSTRAINT [DF_tbl_CristalBattle_Log_ElapseSec]  DEFAULT ((0)) FOR [ElapseSec]
GO
ALTER TABLE [dbo].[tbl_CristalBattle_Log] ADD  CONSTRAINT [DF_tbl_cristalbattle_log_KeeperHitter]  DEFAULT ('*') FOR [KeeperHitter]
GO
ALTER TABLE [dbo].[tbl_CristalBattle_Log] ADD  CONSTRAINT [DF_tbl_cristalbattle_log_ByAnimus]  DEFAULT ((255)) FOR [ByAnimus]
GO
ALTER TABLE [dbo].[tbl_CristalBattle_Log] ADD  CONSTRAINT [DF_tbl_cristalbattle_log_DestroyRace]  DEFAULT ((255)) FOR [DestroyRace]
GO
ALTER TABLE [dbo].[tbl_GMActLog] ADD  CONSTRAINT [DF_tbl_GMActLog_PID]  DEFAULT ((0)) FOR [PID]
GO
ALTER TABLE [dbo].[tbl_GMActLog] ADD  CONSTRAINT [DF_tbl_GMActLog_ActDate]  DEFAULT (getdate()) FOR [ActDate]
GO
ALTER TABLE [dbo].[tbl_GMjobLog] ADD  CONSTRAINT [DF_tbl_GMjobLog_nKind]  DEFAULT ((0)) FOR [nKind]
GO
ALTER TABLE [dbo].[tbl_GMjobLog] ADD  CONSTRAINT [DF_tbl_GMjobLog_dtDate]  DEFAULT (getdate()) FOR [dtDate]
GO
ALTER TABLE [dbo].[tbl_HolyQuest_Log] ADD  CONSTRAINT [DF_tbl_HolyQuest_Log_LogDate]  DEFAULT (getdate()) FOR [LogDate]
GO
ALTER TABLE [dbo].[tbl_HostAccount] ADD  CONSTRAINT [DF_tbl_HostAccount_Password]  DEFAULT ('*') FOR [Password]
GO
ALTER TABLE [dbo].[tbl_HostAccount] ADD  CONSTRAINT [DF_tbl_HostAccount_Active]  DEFAULT ((0)) FOR [Grade]
GO
ALTER TABLE [dbo].[tbl_HostAccount] ADD  CONSTRAINT [DF_tbl_HostAccount_UserNum]  DEFAULT ((0)) FOR [Grade1]
GO
ALTER TABLE [dbo].[tbl_ItemBatch] ADD  CONSTRAINT [DF_tbl_ItemBatch_DCK]  DEFAULT (0) FOR [DCK]
GO
ALTER TABLE [dbo].[tbl_ItemBatch] ADD  CONSTRAINT [DF_tbl_ItemBatch_RID]  DEFAULT (11) FOR [RID]
GO
ALTER TABLE [dbo].[tbl_ItemBatch] ADD  CONSTRAINT [DF_tbl_ItemBatch_D]  DEFAULT (1) FOR [D]
GO
ALTER TABLE [dbo].[tbl_ItemBatch] ADD  CONSTRAINT [DF_tbl_ItemBatch_U]  DEFAULT (0x0fffffff) FOR [U]
GO
ALTER TABLE [dbo].[tbl_ItemBatch] ADD  CONSTRAINT [DF_tbl_ItemBatch_addda]  DEFAULT (getdate()) FOR [adddate]
GO
ALTER TABLE [dbo].[tbl_LUAccount] ADD  CONSTRAINT [DF_tbl_LUAccount]  DEFAULT (0) FOR [BCodeTU]
GO
ALTER TABLE [dbo].[tbl_LUAccount] ADD  DEFAULT ((0)) FOR [accounttype]
GO
ALTER TABLE [dbo].[tbl_protocolaccesslog] ADD  CONSTRAINT [DF_tbl_protocolaccesslog_ProtocolMsgID]  DEFAULT ((0)) FOR [ProtocolMsgID]
GO
ALTER TABLE [dbo].[tbl_protocolaccesslog] ADD  CONSTRAINT [DF_tbl_protocolaccesslog_ProtocolID]  DEFAULT ((0)) FOR [ProtocolID]
GO
ALTER TABLE [dbo].[tbl_protocolaccesslog] ADD  CONSTRAINT [DF_tbl_protocolaccesslog_GMSerial]  DEFAULT ((0)) FOR [GMSerial]
GO
ALTER TABLE [dbo].[tbl_protocolaccesslog] ADD  CONSTRAINT [DF_tbl_protocolaccesslog_AccessDate]  DEFAULT (getdate()) FOR [AccessDate]
GO
ALTER TABLE [dbo].[tbl_protocolauthinfo] ADD  CONSTRAINT [DF_tbl_protocolauthinfo_dck]  DEFAULT ((0)) FOR [dck]
GO
ALTER TABLE [dbo].[tbl_protocolauthinfo] ADD  CONSTRAINT [DF_tbl_protocolauthinfo_P_MsgID]  DEFAULT ((0)) FOR [P_MsgID]
GO
ALTER TABLE [dbo].[tbl_protocolauthinfo] ADD  CONSTRAINT [DF_tbl_protocolauthinfo_P_ID]  DEFAULT ((0)) FOR [P_ID]
GO
ALTER TABLE [dbo].[tbl_protocolauthinfo] ADD  CONSTRAINT [DF_tbl_protocolauthinfo_P_AuthType]  DEFAULT ((0)) FOR [P_AuthType]
GO
ALTER TABLE [dbo].[tbl_protocolauthinfo] ADD  CONSTRAINT [DF_tbl_protocolauthinfo_GMID]  DEFAULT ('*') FOR [GMID]
GO
ALTER TABLE [dbo].[tbl_protocolauthinfo] ADD  CONSTRAINT [DF_tbl_protocolauthinfo_GMSerial]  DEFAULT ((0)) FOR [GMSerial]
GO
ALTER TABLE [dbo].[tbl_protocolinfo] ADD  CONSTRAINT [DF_tbl_protocolinfo_dck]  DEFAULT ((0)) FOR [dck]
GO
ALTER TABLE [dbo].[tbl_protocolinfo] ADD  CONSTRAINT [DF_tbl_protocolinfo_ProtocolMsgID]  DEFAULT ((0)) FOR [ProtocolMsgID]
GO
ALTER TABLE [dbo].[tbl_protocolinfo] ADD  CONSTRAINT [DF_tbl_protocolinfo_ProtocolID]  DEFAULT ((0)) FOR [ProtocolID]
GO
ALTER TABLE [dbo].[tbl_protocolinfo] ADD  CONSTRAINT [DF_tbl_protocolinfo_ProtocolName]  DEFAULT ('*') FOR [ProtocolName]
GO
ALTER TABLE [dbo].[tbl_protocolinfo] ADD  CONSTRAINT [DF_tbl_protocolinfo_ProtocolExplain]  DEFAULT ('*') FOR [ProtocolExplain]
GO
ALTER TABLE [dbo].[tbl_protocolinfo] ADD  CONSTRAINT [DF_tbl_protocolinfo_ProtocolFldCnt]  DEFAULT ((0)) FOR [ProtocolFldCnt]
GO
ALTER TABLE [dbo].[tbl_protocolinfo] ADD  CONSTRAINT [DF_tbl_protocolinfo_UpdateDate]  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[tbl_RFTestAccount] ADD  CONSTRAINT [DF_tbl_RFTestAccount]  DEFAULT ((0)) FOR [BCodeTU]
GO
ALTER TABLE [dbo].[tbl_ServerUser_Log] ADD  CONSTRAINT [DF_tbl_ServerUser_Log_nAverageUser]  DEFAULT ((0)) FOR [nAverageUser]
GO
ALTER TABLE [dbo].[tbl_ServerUser_Log] ADD  CONSTRAINT [DF_tbl_ServerUser_Log_nMaxUser]  DEFAULT ((0)) FOR [nMaxUser]
GO
ALTER TABLE [dbo].[tbl_ServerUser_Log] ADD  CONSTRAINT [DF_tbl_ServerUser_Log_nBellaUser]  DEFAULT ((0)) FOR [nBellaUser]
GO
ALTER TABLE [dbo].[tbl_ServerUser_Log] ADD  CONSTRAINT [DF_tbl_ServerUser_Log_nCoraUser]  DEFAULT ((0)) FOR [nCoraUser]
GO
ALTER TABLE [dbo].[tbl_ServerUser_Log] ADD  CONSTRAINT [DF_tbl_ServerUser_Log_nAccUser]  DEFAULT ((0)) FOR [nAccUser]
GO
ALTER TABLE [dbo].[tbl_StaffAccount] ADD  CONSTRAINT [DF_tbl_StaffAccount_Grade]  DEFAULT ((1)) FOR [Grade]
GO
ALTER TABLE [dbo].[tbl_StaffAccount] ADD  CONSTRAINT [DF_tbl_StaffAccount_LastConnIP]  DEFAULT ('0') FOR [LastConnIP]
GO
ALTER TABLE [dbo].[tbl_StaffAccount] ADD  CONSTRAINT [DF_tbl_StaffAccount_CreateDT]  DEFAULT (getdate()) FOR [CreateDT]
GO
ALTER TABLE [dbo].[tbl_StaffAccount] ADD  CONSTRAINT [DF_tbl_StaffAccount_LastLoginDT]  DEFAULT ((0)) FOR [LastLoginDT]
GO
ALTER TABLE [dbo].[tbl_StaffAccount] ADD  CONSTRAINT [DF_tbl_StaffAccount_LastLogoffDT]  DEFAULT ((0)) FOR [LastLogoffDT]
GO
ALTER TABLE [dbo].[tbl_StaffAccount] ADD  CONSTRAINT [DF_tbl_StaffAccount_TotalLogMin]  DEFAULT ((0)) FOR [TotalLogMin]
GO
ALTER TABLE [dbo].[tbl_StaffAccount] ADD  CONSTRAINT [DF_tbl_StaffAccount_SubGrade]  DEFAULT ((0)) FOR [SubGrade]
GO
ALTER TABLE [dbo].[tbl_StaffAccount] ADD  CONSTRAINT [DF_tbl_StaffAccount_ExpireDT]  DEFAULT (dateadd(month,(1),getdate())) FOR [ExpireDT]
GO
ALTER TABLE [dbo].[tbl_StaffAccount] ADD  CONSTRAINT [DF_tbl_StaffAccount_ComClass]  DEFAULT ('??') FOR [ComClass]
GO
ALTER TABLE [dbo].[tbl_StaffAccount] ADD  CONSTRAINT [DF_tbl_StaffAccount_BirthDay]  DEFAULT (((0)-(0))-(0)) FOR [BirthDay]
GO
ALTER TABLE [dbo].[tbl_UserAccount] ADD  CONSTRAINT [DF_tbl_rfuser_CreateTime]  DEFAULT (getdate()) FOR [createtime]
GO
ALTER TABLE [dbo].[tbl_UserAccount] ADD  CONSTRAINT [DF_tbl_rfuser_createip]  DEFAULT ((0)) FOR [createip]
GO
ALTER TABLE [dbo].[tbl_UserAccount] ADD  CONSTRAINT [DF_tbl_rfuser_LastLogTime]  DEFAULT (getdate()) FOR [lastlogintime]
GO
ALTER TABLE [dbo].[tbl_UserAccount] ADD  CONSTRAINT [DF_tbl_rfuser_lastlogintime1]  DEFAULT (getdate()) FOR [lastlogofftime]
GO
ALTER TABLE [dbo].[tbl_UserAccount] ADD  CONSTRAINT [DF_tbl_rfuser_TotalLogMin]  DEFAULT ((0)) FOR [totallogmin]
GO
ALTER TABLE [dbo].[tbl_UserAccount] ADD  CONSTRAINT [DF_tbl_rfuser_lastconnectip]  DEFAULT ((0)) FOR [lastconnectip]
GO
ALTER TABLE [dbo].[tbl_UserAccount] ADD  CONSTRAINT [DF_tbl_rfuser_pushclosetime]  DEFAULT (getdate()) FOR [pushclosetime]
GO
ALTER TABLE [dbo].[tbl_UserAccount] ADD  CONSTRAINT [DF_tbl_rfuser_pusherip]  DEFAULT ((0)) FOR [pusherip]
GO
ALTER TABLE [dbo].[tbl_UserAccount] ADD  CONSTRAINT [DF_tbl_rfuser_JoinCode]  DEFAULT ((0)) FOR [JoinCode]
GO
ALTER TABLE [dbo].[tbl_UserAccount] ADD  CONSTRAINT [DF_tbl_useraccount_loginfailurecnt]  DEFAULT ((0)) FOR [LoginFailureCnt]
GO
ALTER TABLE [dbo].[tbl_UserAccount] ADD  CONSTRAINT [DF_tbl_useraccount_fire_on]  DEFAULT (getdate()) FOR [fire_on]
GO
ALTER TABLE [dbo].[tbl_UserAccount] ADD  CONSTRAINT [DF_tbl_useraccount_fire_warning]  DEFAULT (getdate()) FOR [fire_warning]
GO
ALTER TABLE [dbo].[tbl_UserAccount] ADD  CONSTRAINT [DF_tbl_useraccount_uilock]  DEFAULT ((0)) FOR [uilock]
GO
ALTER TABLE [dbo].[tbl_UserAccount] ADD  CONSTRAINT [DF_tbl_useraccount_uilock_pw]  DEFAULT ((0)) FOR [uilock_pw]
GO
ALTER TABLE [dbo].[tbl_UserAccount] ADD  CONSTRAINT [DF_tbl_useraccount_uilock_failcnt]  DEFAULT ((0)) FOR [uilock_failcnt]
GO
ALTER TABLE [dbo].[tbl_UserAccount] ADD  CONSTRAINT [DF_tbl_useraccount_uilock_update]  DEFAULT ((0)) FOR [uilock_update]
GO
ALTER TABLE [dbo].[tbl_UserAccount] ADD  CONSTRAINT [DF_tbl_useraccount_uilock_hintindex]  DEFAULT ((0)) FOR [uilock_hintindex]
GO
ALTER TABLE [dbo].[tbl_UserAccount] ADD  CONSTRAINT [DF_tbl_useraccount_uilock_hintanswer]  DEFAULT ((0)) FOR [uilock_hintanswer]
GO
ALTER TABLE [dbo].[tbl_UserAccount] ADD  CONSTRAINT [DF_tbl_useraccount_uilock_find_pass_failcnt]  DEFAULT ((0)) FOR [uilock_find_pass_failcnt]
GO
ALTER TABLE [dbo].[tbl_UserBan] ADD  CONSTRAINT [DF_tbl_UserBan_dtStartDate]  DEFAULT (getdate()) FOR [dtStartDate]
GO
ALTER TABLE [dbo].[tbl_UserBan] ADD  CONSTRAINT [DF_tbl_UserBan_nKind]  DEFAULT (0) FOR [nKind]
GO
ALTER TABLE [dbo].[tbl_UserBan] ADD  CONSTRAINT [DF_tbl_userban_GMReason]  DEFAULT ('*') FOR [GMReason]
GO
ALTER TABLE [dbo].[tbl_UserBan] ADD  CONSTRAINT [DF_tbl_userban_GMWriter]  DEFAULT ('*') FOR [GMWriter]
GO
ALTER TABLE [dbo].[tbl_UserBan] ADD  CONSTRAINT [DF_tbl_UserBan_ReasonType]  DEFAULT (0) FOR [ReasonType]
GO
ALTER TABLE [dbo].[tbl_UserBan_Log] ADD  CONSTRAINT [DF_tbl_UserBan_Log_dtStartdate]  DEFAULT (getdate()) FOR [dtStartdate]
GO
ALTER TABLE [dbo].[tbl_UserBan_Log] ADD  CONSTRAINT [DF_tbl_UserBan_Log_nKind]  DEFAULT ((0)) FOR [nKind]
GO
ALTER TABLE [dbo].[tbl_UserBan_Log] ADD  CONSTRAINT [DF_tbl_userban_log_GMReason]  DEFAULT ('*') FOR [GMReason]
GO
ALTER TABLE [dbo].[tbl_UserBan_Log] ADD  CONSTRAINT [DF_tbl_userban_log_GMWriter]  DEFAULT ('*') FOR [GMWriter]
GO
ALTER TABLE [dbo].[tbl_UserCount_Log] ADD  CONSTRAINT [DF_tbl_Usercount_Log_nAverageUser]  DEFAULT ((0)) FOR [nAverageUser]
GO
ALTER TABLE [dbo].[tbl_UserCount_Log] ADD  CONSTRAINT [DF_tbl_Usercount_Log_nMaxUser]  DEFAULT ((0)) FOR [nMaxUser]
GO
ALTER TABLE [dbo].[tbl_UserCount_Log] ADD  CONSTRAINT [DF_tbl_Usercount_Log_nMaxUserTestServer]  DEFAULT ((0)) FOR [nMaxUserTestServer]
GO
ALTER TABLE [dbo].[tbl_usercurrentstate] ADD  CONSTRAINT [DF_tbl_usercurrentstate_state]  DEFAULT ((0)) FOR [state]
GO
ALTER TABLE [dbo].[tbl_UserPush_Log] ADD  CONSTRAINT [DF_tbl_UserPush_Log_AccountSerial]  DEFAULT ((0)) FOR [nAccountSerial]
GO
ALTER TABLE [dbo].[tbl_UserPush_Log] ADD  CONSTRAINT [DF_tbl_UserPush_Log_Date]  DEFAULT (getdate()) FOR [dtDate]
GO
ALTER TABLE [dbo].[tbl_UserPush_Log] ADD  CONSTRAINT [DF_tbl_UserPush_Log_PushIP1]  DEFAULT ((0)) FOR [PushIP]
GO
ALTER TABLE [dbo].[tbl_UserPush_Log] ADD  CONSTRAINT [DF_tbl_UserPush_Log_CloseIP1]  DEFAULT ((0)) FOR [CloseIP]
GO
ALTER TABLE [dbo].[tbl_WorldHistory_Log] ADD  CONSTRAINT [DF_tbl_WorldHistory_Log_avatorNum]  DEFAULT ((0)) FOR [avatorNum]
GO
ALTER TABLE [dbo].[tbl_WorldHistory_Log] ADD  CONSTRAINT [DF_tbl_WorldHistory_Log_dalant]  DEFAULT ((0)) FOR [dalant]
GO
ALTER TABLE [dbo].[tbl_WorldHistory_Log] ADD  CONSTRAINT [DF_tbl_WorldHistory_Log_gold]  DEFAULT ((0)) FOR [gold]
GO
ALTER TABLE [dbo].[tbl_WorldHistory_Log] ADD  CONSTRAINT [DF_tbl_WorldHistory_Log_logDate]  DEFAULT (getdate()) FOR [logDate]
GO
ALTER TABLE [dbo].[tbl_WorldServer_List] ADD  CONSTRAINT [DF_tbl_WorldServer_List_LastUpdate]  DEFAULT (getdate()) FOR [LastUpdate]
GO
ALTER TABLE [dbo].[tbl_WorldServer_List] ADD  DEFAULT (newid()) FOR [msrepl_tran_version]
GO
ALTER TABLE [dbo].[tbl_GMActLog]  WITH NOCHECK ADD  CONSTRAINT [FK_CID] FOREIGN KEY([PID])
REFERENCES [dbo].[tbl_GMActParam] ([ID])
GO
ALTER TABLE [dbo].[tbl_GMActLog] CHECK CONSTRAINT [FK_CID]
GO
ALTER TABLE [dbo].[tbl_GMActLog]  WITH NOCHECK ADD  CONSTRAINT [FK_TID] FOREIGN KEY([TID])
REFERENCES [dbo].[tbl_GMActType] ([ID])
GO
ALTER TABLE [dbo].[tbl_GMActLog] CHECK CONSTRAINT [FK_TID]
GO
/****** Object:  StoredProcedure [dbo].[LUG_InsertAccount]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[LUG_InsertAccount] (
	@id		BINARY(16),
	@password	BINARY(24)
)
AS

set xact_abort on

INSERT INTO dbo.tbl_LUAccount (
	[id],
	[password],
	[BCodeTU])
VALUES (
	@id,
	@password,
	0)

GO
/****** Object:  StoredProcedure [dbo].[LUG_UpdatePassword]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE  PROCEDURE [dbo].[LUG_UpdatePassword] (
	@id		BINARY(16),
	@newPassword	BINARY(24)
)
AS

set xact_abort on

UPDATE
	dbo.tbl_LUAccount
SET
	[password] = @newPassword
WHERE
	[id] = @id

GO
/****** Object:  StoredProcedure [dbo].[pCheck_Today_LogTable]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[pCheck_Today_LogTable]
AS
declare @strSql nvarchar(500)
declare @today varchar(9)
SET NOCOUNT ON
	set @today = convert(varchar(9), getdate(), 112)
	set @strSql = N'SELECT top 1 name FROM dbo.sysobjects WHERE id = object_id(' + '''' + 'tbl_userlogout_log' + @today + '''' + ')'
	exec sp_executesql  @strSql
	if  @@rowcount < 1
	begin
		-- 테이블 생성
		set @strSql = N'CREATE TABLE [dbo].[tbl_UserLogout_Log' + @today + '] ('
		set @strSql = @strSql + N'[idx] [int] IDENTITY (1, 1) NOT NULL, [nAccountSerial] [int] NOT NULL ,'
		set @strSql = @strSql + N'[nWorldCode] [int] NOT NULL , [dtLoginDate] [datetime] NOT NULL, '
		set @strSql = @strSql + N'[dtLogoutDate] [datetime] NOT NULL, [ip] [char] (16) NOT NULL ) ON [PRIMARY]'
		exec sp_executesql  @strSql

		-- 인덱스 생성
		set @strSql = N' ALTER TABLE [dbo].[tbl_UserLogout_Log' + @today + '] WITH NOCHECK ADD '
		set @strSql = @strSql + N'CONSTRAINT [PK_tbl_UserLogout_Log' + @today + '] PRIMARY KEY  NONCLUSTERED '
		set @strSql = @strSql + N'	( [idx] )  ON [PRIMARY] '
		exec sp_executesql  @strSql

		set @strSql = N' CREATE  CLUSTERED  INDEX [IX_tbl_UserLogout_Log_Logout' + @today + '] ON '
		set @strSql = @strSql + N'[dbo].[tbl_UserLogout_Log' + @today + ']([dtLogoutDate]) ON [PRIMARY]'
		exec sp_executesql  @strSql

		set @strSql = N'  CREATE  INDEX [IX_tbl_UserLogout_Log' + @today + '] ON [dbo].[tbl_UserLogout_Log' + @today + '] '
		set @strSql = @strSql + N'([dtLoginDate]) ON [PRIMARY]'
		exec sp_executesql  @strSql
	end
SET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[pDelete_UserBan]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*
징계
*/
CREATE PROCEDURE [dbo].[pDelete_UserBan]
@nSerial int
AS
DELETE  tbl_UserBan where nAccountSerial=@nSerial
GO
/****** Object:  StoredProcedure [dbo].[pInsert_BlockIP]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






/*
	Author : Aioc.Firezenh 이희길
	Date : 2007-07-27

	## Comments
	- 해당 아이피를 블럭 아이피 테이블에 추가한다.
*/
create procedure [dbo].[pInsert_BlockIP]
@ipA tinyint,
@ipB tinyint,
@ipC tinyint,
@ipD tinyint
as

insert tbl_block_ip(addr0, addr1, addr2, addr3, addr4, addr2range) values(@ipA, @ipB, @ipC, @ipD, @ipD, @ipC)


GO
/****** Object:  StoredProcedure [dbo].[pInsert_Dev]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



/* 
개발자 계정 추가 
*/
CREATE PROCEDURE [dbo].[pInsert_Dev]
@id varchar(16),
@pw varchar(16),
@ip varchar(16)
AS
INSERT INTO tbl_DevAccount( id, pw, createip ) VALUES( CONVERT(binary, @id), CONVERT(binary, @pw), @ip )


GO
/****** Object:  StoredProcedure [dbo].[pInsert_GMjob]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pInsert_GMjob]
@szGMID varchar(18),
@nKind int,
@szAvatorName varchar(18),
@nAvatorSerial int,
@nAccountSerial int,
@szDetail varchar(50)
AS
INSERT INTO 
tbl_GMjobLog( szGMID, nKind, szAvatorName, nAvatorSerial, nAccountSerial, szDetail )
VALUES( @szGMID, @nKind, @szAvatorName, @nAvatorSerial, @nAccountSerial, @szDetail )

GO
/****** Object:  StoredProcedure [dbo].[pInsert_HolyQuestLog]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*
홀리스톤 퀘스트의 결과기록
*/
CREATE PROCEDURE [dbo].[pInsert_HolyQuestLog]
@race int,
@dstRace int,
@name varchar(17),
@server varchar(32)
AS
INSERT INTO tbl_HolyQuest_Log( race, dstRace, CharName, ServerName, LogDate ) VALUES( @race, @dstRace, @name, @server, getdate() )
GO
/****** Object:  StoredProcedure [dbo].[pInsert_ServerUserLog]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

--서버별 동접기록
CREATE PROCEDURE [dbo].[pInsert_ServerUserLog]
@avrUser int,
@maxUser int,
@bUser int,
@cUser int,
@aUser int,
@server varchar(32),
@logDate varchar(17)
AS
INSERT INTO tbl_ServerUser_Log(dtDate, nAverageUser, nMaxUser, nBellaUser, nCoraUser, nAccUser, ServerName ) 
VALUES(@logDate, @avrUser, @maxUser, @bUser, @cUser, @aUser, @server )
GO
/****** Object:  StoredProcedure [dbo].[pInsert_ServerUserLog2]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pInsert_ServerUserLog2]
@avrUser int,
@maxUser int,
@bUser int,
@cUser int,
@aUser int,
@server varchar(32)
AS
INSERT INTO tbl_ServerUser_Log(dtDate, nAverageUser, nMaxUser, nBellaUser, nCoraUser, nAccUser, ServerName ) 
VALUES(getdate(), @avrUser, @maxUser, @bUser, @cUser, @aUser, @server )

GO
/****** Object:  StoredProcedure [dbo].[pInsert_Staff]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[pInsert_Staff]
@id varchar(13),
@pw varchar(13),
@depart nvarchar(32),
@class nvarchar(12),
@name nvarchar(12),
@birthday varchar(10),
@grade int,
@subgrade int
AS

if( left(@id, 1) <> '!' ) set @id = '!' + @id
if( len( @id ) > 12 )
begin
	RAISERROR ( '	len( ID ) > 12', 16, 1 )
	return
end

if( len( @pw ) > 12 )
begin
	RAISERROR ( '	len( password ) > 12', 16, 2 )
	return
end

INSERT INTO tbl_StaffAccount
( ID, PW, Depart, ComClass, RealName, BirthDay, Grade, SubGrade ) 
VALUES
( CONVERT(varbinary(17), @id), CONVERT(varbinary(24),@pw), @depart, @class, @name, @birthday, @grade, @subgrade )
GO
/****** Object:  StoredProcedure [dbo].[pInsert_User]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



/*
사용자 계정 추가
*/
CREATE PROCEDURE [dbo].[pInsert_User]
@id varchar(16),
@ip varchar(16)
AS
INSERT INTO tbl_UserAccount( id, createip ) VALUES( CONVERT(binary, @id), @ip )


GO
/****** Object:  StoredProcedure [dbo].[pInsert_UserBan]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

/*
징계
*/
CREATE PROCEDURE [dbo].[pInsert_UserBan]
@nSerial int,
@nPeriod int,
@nKind int,
@szReason varchar(32)
AS
INSERT INTO 
tbl_UserBan( nAccountSerial, nPeriod, nKind, szReason  ) 
VALUES( @nSerial, @nPeriod, @nKind, @szReason )
GO
/****** Object:  StoredProcedure [dbo].[pInsert_UserBan_20070302]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pInsert_UserBan_20070302]
@nSerial int,
@nPeriod int,
@nKind int,
@szReason varchar(32),
@szWriter varchar(32)
AS
INSERT INTO 
[dbo].[tbl_UserBan] ( nAccountSerial, nPeriod, nKind, szReason,  GMReason, GMWriter) 
VALUES( @nSerial, @nPeriod, @nKind, @szReason, @szReason, @szWriter )


GO
/****** Object:  StoredProcedure [dbo].[pInsert_UserBan_20071016]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[pInsert_UserBan_20071016]
@nSerial int, 
@nPeriod int,
@nKind int,
@szReason varchar(32),
@szWriter varchar(32),
@reasontype tinyint
as
insert into
[dbo].[tbl_UserBan] ( nAccountSerial, nPeriod, nKind, szReason,  GMReason, GMWriter, reasontype)
values ( @nSerial, @nPeriod, @nKind, @szReason, @szReason, @szWriter, @reasontype )

GO
/****** Object:  StoredProcedure [dbo].[pInsert_UserBanLog]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

/*
징계
*/
CREATE PROCEDURE [dbo].[pInsert_UserBanLog]
@nSerial int,
@nPeriod int,
@nKind int,
@szReason varchar(32)
AS
INSERT INTO 
tbl_UserBan_Log( nAccountSerial, nPeriod, nKind, szReason ) 
VALUES( @nSerial, @nPeriod, @nKind, @szReason )
GO
/****** Object:  StoredProcedure [dbo].[pInsert_UserBanLog_20070302]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pInsert_UserBanLog_20070302]
@nSerial int,
@nPeriod int,
@nKind int,
@szReason varchar(32),
@szWriter varchar(32)
AS
INSERT INTO 
[dbo].[tbl_UserBan_Log] ( nAccountSerial, nPeriod, nKind, szReason, GMReason, GMWriter ) 
VALUES( @nSerial, @nPeriod, @nKind, @szReason, @szReason, @szWriter )


GO
/****** Object:  StoredProcedure [dbo].[pInsert_UserConnLog]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



/*
접속로그 기록
*/
CREATE PROCEDURE [dbo].[pInsert_UserConnLog]
@serial int,
@loginDate varchar(16),
@ip varchar(16)
AS
declare @counter int
set @counter = (SELECT count(nCounter) from tbl_UserLogout_Log where nAccountSerial = @serial)
INSERT INTO tbl_UserLogout_Log(nAccountSerial, nCounter, dtLoginDate, dtLogoutDate, ip) VALUES(@serial, @counter, @loginDate, getdate(), @ip)
GO
/****** Object:  StoredProcedure [dbo].[pInsert_UserCountLog]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*  
동시접속자수 기록  
*/  
CREATE PROCEDURE [dbo].[pInsert_UserCountLog]  
@avrUser int,  
@maxUser int  
AS  
INSERT INTO [dbo].[tbl_UserCount_Log] (dtDate, nAverageUser, nMaxUser) VALUES(getdate(), @avrUser, @maxUser )

GO
/****** Object:  StoredProcedure [dbo].[pInsert_UserCountLog20080218]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[pInsert_UserCountLog20080218]
@avruser int,  
@maxuser int , 
@maxusertestserver int
as
insert [dbo].[tbl_UserCount_Log] ([dtDate], [nAverageUser], [nMaxUser], [nMaxUserTestServer]) values ( getdate(), @avruser, @maxuser, @maxusertestserver )

GO
/****** Object:  StoredProcedure [dbo].[pInsert_UserCurrentState]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[pInsert_UserCurrentState]
@serial int,
@state int
as
insert [dbo].[tbl_usercurrentstate] ([serial], [state]) values ( @serial, @state )

GO
/****** Object:  StoredProcedure [dbo].[pInsert_UserLogoutLog]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



/*
접속로그 기록
*/
CREATE PROCEDURE [dbo].[pInsert_UserLogoutLog]
@serial int,
@loginDate varchar(16),
@ip varchar(16)
AS
declare @counter int
set @counter = (SELECT count(nCounter) from tbl_UserLogout_Log where nAccountSerial = @serial)
INSERT INTO tbl_UserLogout_Log(nAccountSerial, nCounter, dtLoginDate, dtLogoutDate, ip) VALUES(@serial, @counter, @loginDate, getdate(), @ip)
GO
/****** Object:  StoredProcedure [dbo].[pInsert_UserLogoutLog_Daily]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE PROCEDURE [dbo].[pInsert_UserLogoutLog_Daily]
@serial int,
@loginDate varchar(16),
@ip varchar(16),
@worldcode int,
@billingtype int,
@level int,
@charSerial int,
@Account varchar(17)
AS
declare @today varchar(9)
declare @strSql nvarchar(500)
SET NOCOUNT ON
	set @today = convert(varchar(9), getdate(), 112)
	set @strSql = N'INSERT INTO tbl_UserLogout_Log' + @today + '(nAccountSerial, dtLoginDate, dtLogoutDate, ip, nWorldCode, nBillingType, nLevel, nAvatorSerial, Account) '
	set @strSql = @strSql + N' VALUES( '+ convert( varchar(8), @serial) + ',' + '''' + @loginDate + '''' + ','
	set @strSql = @strSql + N'''' + convert(varchar(32), getdate(), 20) + '''' + ',' + '''' + @ip +''''+ ',' + convert( varchar(8), @worldcode) + ','
	set @strSql = @strSql + convert(varchar(4), @billingtype) + ',' + convert(varchar(4), @level) + ','
	set @strSql = @strSql + convert(varchar(8), @charSerial)  + ',' +  '''' + @Account + ''''  + ') '
--	select @strSql
	exec sp_executesql  @strSql
SET NOCOUNT OFF
GO
/****** Object:  StoredProcedure [dbo].[pInsert_UserLogoutLog_Daily20070115]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[pInsert_UserLogoutLog_Daily20070115]    
@serial int,    
@loginDate varchar(16),    
@ip varchar(16),    
@worldcode int,    
@billingtype int,    
@level int,    
@charSerial int,    
@Account varchar(17)    
as
declare @today varchar(9)
declare @strSql nvarchar(1024)
set nocount on
 set @today = convert(varchar(9), getdate(), 112)
 set @strSql = N'INSERT INTO tbl_UserLogout_Log' + @today + '(nAccountSerial, dtLoginDate, dtLogoutDate, ip, nWorldCode, nBillingType, nLevel, nAvatorSerial, Account) '
 set @strSql = @strSql + N' VALUES( '+ convert( varchar, @serial) + ',' + '''' + @loginDate + '''' + ','
 set @strSql = @strSql + N'''' + convert(varchar(32), getdate(), 20) + '''' + ',' + '''' + @ip +''''+ ',' + convert( varchar, @worldcode) + ','
 set @strSql = @strSql + convert(varchar, @billingtype) + ',' + convert(varchar, @level) + ','
 set @strSql = @strSql + convert(varchar, @charSerial)  + ',' +  '''' + @Account + ''''  + ') '
-- select @strSql
 exec sp_executesql  @strSql    
set nocount off

GO
/****** Object:  StoredProcedure [dbo].[pInsert_UserPushLog]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

/*
접속로그 기록
*/
CREATE PROCEDURE [dbo].[pInsert_UserPushLog]
@serial int,
@pushIP varchar(16),
@closeIP varchar(16)
AS
INSERT INTO tbl_UserPush_Log(nAccountSerial, dtDate, PushIP, CloseIP) VALUES(@serial, getdate(), @pushIP, @closeIP)
GO
/****** Object:  StoredProcedure [dbo].[pProcess_UserBan]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*    
블럭리스트에 있는지 확인 및 기간만료 데이터 삭제    
*/    
CREATE procedure [dbo].[pProcess_UserBan]    
@nSerial int    
as  
declare @dtBan datetime    
declare @dtBanAdd datetime    
declare @nPeriod int    
declare @nKind int    
declare @nRet int  
declare @tReasonType tinyint  
    
select @dtBan = dtStartdate, @tReasonType = reasontype  from tbl_userban where nAccountserial=@nSerial  
  
if  @dtBan is NULL     
begin    
    set @nRet = 0    
    select @nRet, @tReasonType  
    return    
end    
    
set @nPeriod = (select nPeriod from tbl_userban where nAccountserial=@nSerial)    
    
if @nPeriod = 999    
begin    
    set @nRet = 2    
    select @nRet, @tReasonType  
    return    
end    
    
set @dtBanAdd = dateadd( hh, @nPeriod, @dtBan)    
    
if @dtBanAdd <= (getdate())     
begin    
    set @nRet = 1    
    select @nRet, @tReasonType  
end    
else    
begin    
    set @nKind = (select nKind from tbl_userban where nAccountserial=@nSerial)    
    if @nKind = 0    
    begin    
        set @nRet = 2    
        select @nRet, @tReasonType  
    end    
    else    
    begin    
        set @nRet = 3    
        select @nRet, @tReasonType  
    end    
end    
    
return    

GO
/****** Object:  StoredProcedure [dbo].[prc_process_fg_detection]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
drop procedure prc_process_fg_detection
drop procedure pInsert_BlockIP
*/


/*
	Author : Aioc.Firezenh 이희길
	Date : 2007-07-27

	## Comments
	- 파이어 가드에 의해 감지되었을 경우 해당 계정과 아이피를 감지 리스트 테이블(tbl_fg_detected_accuont, tbl_fg_detected_ip)에 추가한다.
	- 계정의 12시간내 감지된 갯수와, 아이피의 12시간내 감지된 갯수를 반환한다.

	## Return value
	- @ret :	0 정상, 1 비정상
		0이외의 값은 비정상으로 간주한다
*/
create procedure [dbo].[prc_process_fg_detection]
@account varchar(12),
@ip int
as

declare @num_account int
declare @num_ip int
declare @detect_time smalldatetime
declare @check_time smalldatetime

set @num_account = 0
set @num_ip = 0
set @detect_time = getdate()
set @check_time = dateadd(hour, -12, @detect_time)

set nocount on

insert tbl_fg_detected_account( account, detect_time ) values( @account, @detect_time )
insert tbl_fg_detected_ip( ip, detect_time ) values( @ip, @detect_time )

select @num_account = count(*) from tbl_fg_detected_account where account = @account and detect_time >= @check_time
select @num_ip = count(*) from tbl_fg_detected_ip where ip = @ip and detect_time >= @check_time

set nocount off

select @num_account, @num_ip


GO
/****** Object:  StoredProcedure [dbo].[pSelect_AccountPass]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[pSelect_AccountPass]
@id varchar(13)
AS
SELECT RTRIM( CONVERT( varchar(24), password) ), BCodeTU
FROM tbl_RFTestAccount WHERE id = CONVERT(binary, @id)
GO
/****** Object:  StoredProcedure [dbo].[pSelect_AccountPass_061122]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[pSelect_AccountPass_061122]
@id varchar(13)
AS
SELECT RTRIM( CONVERT( varchar(24), password) ), BCodeTU
FROM tbl_RFTestAccount WHERE id = CONVERT(binary, @id)
GO
/****** Object:  StoredProcedure [dbo].[pSelect_AccountPass_China]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE   PROCEDURE [dbo].[pSelect_AccountPass_China]
@id varchar(13)
AS

	DECLARE @curdate	DATETIME
	DECLARE @birthdate	DATETIME
	DECLARE @plusdate	DATETIME
	DECLARE @AgeResult	TINYINT

	SET @curdate = GETDATE()
	SET @birthdate = (SELECT birthdate FROM tbl_rfaccount WHERE ID = CONVERT(BINARY, @id))

	IF(ISDATE(@birthdate) = 1)
	 BEGIN
		SET @plusdate = DATEADD(yy, 18, CONVERT(DATETIME, @birthdate))
	 END

	IF(ISDATE(@curdate) = 1) AND (@curdate >= @plusdate)
	 BEGIN
		SET @AgeResult = 0
	 END
	ELSE
	 BEGIN
		SET @AgeResult = 1
	 END

	SELECT RTRIM( CONVERT( VARCHAR(24), password) ), accounttype, AgeResult= @AgeResult FROM tbl_rfaccount WHERE ID = CONVERT(BINARY, @id)

GO
/****** Object:  StoredProcedure [dbo].[pSelect_BlockIP]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[pSelect_BlockIP]
@addr_0 tinyint,
@addr_1 tinyint,
@addr_2 tinyint,
@addr_3 tinyint
as
select top 1 nSerial from [dbo].[tbl_block_ip]
where addr0 = @addr_0 and addr1 = @addr_1 and addr2 = @addr_2 and @addr_3 between addr3 and addr4

GO
/****** Object:  StoredProcedure [dbo].[pSelect_BlockIP_20070122]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pSelect_BlockIP_20070122]
@addr_0 tinyint,
@addr_1 tinyint,
@addr_2 tinyint,
@addr_3 tinyint
AS
select	nSerial
from	tbl_block_ip
where	addr0 = @addr_0 and 
	addr1 = @addr_1 and
	@addr_2 between addr2 and addr2range and
	@addr_3 between addr3 and addr4

GO
/****** Object:  StoredProcedure [dbo].[pSelect_BraAccountInfo]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Find Account & AccountSerial
CREATE PROCEDURE [dbo].[pSelect_BraAccountInfo]
@account as varchar(17)
AS
select top 1 serial, convert(varchar, [id]) from tbl_useraccount where id = convert(binary, @account)
GO
/****** Object:  StoredProcedure [dbo].[pSelect_HolyQuestHistory]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/*
홀리스톤 퀘스트의 히스토리를 가져옴
*/
CREATE PROCEDURE [dbo].[pSelect_HolyQuestHistory]
@startDate varchar(16),
@endDate varchar(16)
AS
select datepart(yyyy,LogDate),datepart(mm,LogDate), datepart(dd,LogDate), datepart(hh,LogDate), ServerName, race, CharName
from tbl_HolyQuest_log where LogDate > @startDate and LogDate < @endDate order by LogDate
GO
/****** Object:  StoredProcedure [dbo].[pSelect_HostAccountInfo]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO



/*
운영자 계정의 정보를 가져옴
*/
CREATE PROCEDURE [dbo].[pSelect_HostAccountInfo]
@id varchar(16)
 AS
SELECT password, Grade FROM tbl_HostAccount WHERE Account = @id
GO
/****** Object:  StoredProcedure [dbo].[pSelect_HostAccountInfo20061113]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pSelect_HostAccountInfo20061113]
@id varchar(16)
 AS
SELECT convert(varchar, password), Grade, Serial FROM [dbo].[tbl_HostAccount] WHERE Account =  @id


GO
/****** Object:  StoredProcedure [dbo].[pselect_pcbangip]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[pselect_pcbangip]
@ip1 tinyint,
@ip2 tinyint, 
@ip3 tinyint, 
@ip4 tinyint 
as
select * from [dbo].[tbl_iplist_pcbang] where ip1 = @ip1 and ip2 = @ip2 and ip3 = @ip3 and @ip4 between ip4 and lastip

GO
/****** Object:  StoredProcedure [dbo].[pSelect_StaffExpire]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[pSelect_StaffExpire]
@id varchar(24)
AS
select ExpireDT, getdate() as NowDate from tbl_staffaccount where id= convert(binary, @id)
GO
/****** Object:  StoredProcedure [dbo].[pSelect_StaffInfo]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[pSelect_StaffInfo]
@id varchar(24)
AS
SELECT 
CONVERT(varchar(13), PW) as PW, Serial, TotalLogMin, Grade, SubGrade
FROM tbl_staffaccount WHERE id = convert( binary, @id )
GO
/****** Object:  StoredProcedure [dbo].[pSelect_StaffInfoEx]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*  
개발자 계정의 정보를 가져옴  
*/  
  
CREATE PROCEDURE [dbo].[pSelect_StaffInfoEx]  
@id varchar(16)  
 AS  
SELECT CONVERT(varchar(13), PW) as PW, Serial, TotalLogMin, Grade, SubGrade, getdate()   
FROM [dbo].[tbl_StaffAccount]   
WHERE id = CONVERT(binary, @id)

GO
/****** Object:  StoredProcedure [dbo].[pSelect_UserBan]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*
징계
*/
CREATE PROCEDURE [dbo].[pSelect_UserBan]
@nSerial int
AS
SELECT  dtstartdate, nPeriod, nKind from tbl_UserBan where nAccountSerial=@nSerial
GO
/****** Object:  StoredProcedure [dbo].[pSelect_UserBanHistory]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pSelect_UserBanHistory]
@nSerial int
AS
SELECT top 32 nKind, dtStartDate, nPeriod, szReason FROM tbl_UserBan_Log WHERE nAccountSerial=@nSerial order by nSerial desc

GO
/****** Object:  StoredProcedure [dbo].[pSelect_UserBanHistory_20070302]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pSelect_UserBanHistory_20070302]
@nSerial int
AS
SELECT top 32 nKind, dtStartDate, nPeriod, szReason, GMWriter FROM [dbo].[tbl_UserBan_Log]
WHERE nAccountSerial=@nSerial order by nSerial desc


GO
/****** Object:  StoredProcedure [dbo].[pSelect_UserCountInfo]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*
해당날짜의 동접자 정보를 가져옴
*/
CREATE PROCEDURE [dbo].[pSelect_UserCountInfo]
@startDate varchar(16),
@endDate varchar(16)
AS
select datepart(yyyy,dtDate),datepart(mm,dtDate), datepart(dd,dtDate), datepart(hh,dtDate), nAverageUser, nMaxUser from tbl_userCount_log where dtDate > @startDate and dtDate < @endDate order by dtDate
GO
/****** Object:  StoredProcedure [dbo].[pSelect_UserInfo]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



/*
사용자 계정의 정보를 가져옴
*/
CREATE PROCEDURE [dbo].[pSelect_UserInfo]
@id varchar(16)
 AS
SELECT serial, totallogmin, getdate() FROM tbl_UserAccount WHERE id = CONVERT(binary, @id)
GO
/****** Object:  StoredProcedure [dbo].[pSelect_UserInfo_20070612]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[pSelect_UserInfo_20070612]  
@id varchar(16)  
as  
select [serial], [totallogmin], getdate(), [uilock], convert(varchar(13), [uilock_pw]), [uilock_failcnt], [uilock_hintindex], convert(varchar(17), [uilock_hintanswer]), [uilock_find_pass_failcnt]  
from [dbo].[tbl_UserAccount] where [id] = convert(binary(16), @id)  

GO
/****** Object:  StoredProcedure [dbo].[pSelect_UserInfoEx]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE PROCEDURE [dbo].[pSelect_UserInfoEx]
@id varchar(16)
AS
SELECT serial, createtime, createip, lastlogintime, lastlogofftime, totallogmin, lastconnectip FROM tbl_UserAccount WHERE id = CONVERT(binary, @id)
GO
/****** Object:  StoredProcedure [dbo].[pSelect_UserInfoEx_20070221]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pSelect_UserInfoEx_20070221]
@id varchar(16)
AS
SELECT serial, createtime, createip, lastlogintime, lastlogofftime, totallogmin, lastconnectip, LoginFailureCnt
FROM [dbo].[tbl_UserAccount] WHERE id = CONVERT(binary, @id)


GO
/****** Object:  StoredProcedure [dbo].[pSelect_UserInfoEx_20070718]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pSelect_UserInfoEx_20070718]    
@id varchar(16)    
AS    
SELECT serial, createtime, createip, lastlogintime, lastlogofftime, totallogmin, lastconnectip, LoginFailureCnt, uilock, uilock_pw = convert(varchar, uilock_pw), uilock_failcnt, uilock_hintindex, uilock_hintanswer = convert(varchar, uilock_hintanswer)  
FROM [dbo].[tbl_UserAccount] WHERE id = CONVERT(binary, @id)    


GO
/****** Object:  StoredProcedure [dbo].[pSelect_UserSerial]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



/*
사용자 계정의 Serial을 가져옴
*/
CREATE PROCEDURE [dbo].[pSelect_UserSerial]
@id varchar(16)
 AS
SELECT serial, getdate() FROM tbl_UserAccount WHERE id = CONVERT(binary, @id)
GO
/****** Object:  StoredProcedure [dbo].[pUpdate_FireguardBlock]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
작성자 : 이희길 <Aioc.Firezenh>
날짜 : 2007-03-16

내용 : 파이어가드에 의한 블럭 처리 프로시져. @userid의 계정에 대해서 @targetCnt 만큼의 파이어가드 블럭 요청이 @targetMinute안에 올 경우
	fire_detect_cnt 필드의 수 * 횟수당블럭시간 값으로 블럭하도록 한다.
컨텐츠 : 30분 내에 3번의 파이어 가드 경고를 당할시에는 특정 시간만큼 블럭
*/
CREATE PROCEDURE [dbo].[pUpdate_FireguardBlock]
@userid varchar(16),
@targetMinute tinyint
AS
-- Begin

set nocount on

declare @err_status int
declare @ret int
declare @user_serial int
declare @block_status tinyint
declare @fire_on smalldatetime
declare @fire_warning smalldatetime
-- declare @fire_detect_cnt tinyint
declare @mDiffOn tinyint
declare @mDiffWarning tinyint

-- declare @block_term_time tinyint
-- declare @block_time int
-- 
-- set @block_term_time = 30


-- select	@user_serial = serial, @block_status = LoginFailureCnt, @fire_on = fire_on, @fire_warning = fire_warning, @fire_detect_cnt = fire_detect_cnt
select	@user_serial = serial, @block_status = LoginFailureCnt, @fire_on = fire_on, @fire_warning = fire_warning
from 	tbl_useraccount 
where 	id = convert(binary, @userid)


set @mDiffOn = datediff(minute, @fire_on, getdate())
set @mDiffWarning = datediff(minute, @fire_warning, getdate())

if(@user_serial is NULL)
begin
 	set @err_status = 0
 	set @ret = -1
end
else
begin
	if(@block_status = 0)
	-- 아직 한번도 파이어 가드 블럭을 하지 않았을 경우
	-- 단순히 loginfailurecnt 1, fire_on에 getdate() 설정
	begin
		update tbl_useraccount set loginfailurecnt = 1, fire_on = getdate() where serial = @user_serial
		set @ret = 1
	end

	else if(@block_status = 1)
	-- 파이어 가드 블럭이 한번 있을 경우
	-- fire_on과 비교하여 @targetMinute분 이내일 경우, loginfailurecnt 2, fire_warning에 getdate() 설정.
	-- fire_on과 비교하여 @targetMinute분 넘었을경우, loginfailurecnt 0, 설정.
	begin
		if(@mDiffOn <= @targetMinute)
		begin
			update tbl_useraccount set loginfailurecnt = 2, fire_warning = getdate() where serial = @user_serial
			set @ret = 2
		end
		else
		begin
			update tbl_useraccount set loginfailurecnt = 1, fire_on = getdate() where serial = @user_serial
			set @ret = 1
		end
	end

	else if(@block_status = 2) -- 파이어 가드 블럭이 두번 있을 경우
	-- 파티어 가드 블럭이 두번 있을 경우
	-- fire_on과 비교하여 @targetMinute분 이내일 경우, loginfailurecnt 3 설정.
	-- fire_on과 비교하여 @targetMinute분 넘었을 경우, fire_warning와 비교하여 @targetMinute분 이내일 경우 fire_on에 fire_warning설정, fire_warning에 getdate() 설정, fire_warning와 비교하여 @targetMinute분 넘었을 경우 loginfailurecnt 0 설정.
	begin
		if(@mDiffOn <= @targetMinute)
		begin
-- 			if(@fire_detect_cnt <= 0)
-- 			begin
-- 				set @block_time = @block_term_time
-- 				set @fire_detect_cnt = 1
-- 			end
-- 			else
-- 			begin
-- 				set @fire_detect_cnt = @fire_detect_cnt + 1
-- 				set @block_time = @block_term_time * @fire_detect_cnt
-- 			end
-- 
-- 			if(@block_time > 999)
-- 			begin
-- 				set @block_time = 999
-- 			end

-- 			insert into tbl_userban( nAccountSerial, dtStartDate, nPeriod, nKind, szReason, GMReason, GMWriter) values(@user_serial, getDate(), @block_time, 0, '불법 프로그램 사용', '불법 프로그램 사용', 'Fireguard 탐지')
-- 			insert into tbl_userban_log( nAccountSerial, dtStartDate, nPeriod, nKind, szReason, GMReason, GMWriter) values(@user_serial, getDate(), @block_time, 0, '불법 프로그램 사용', '불법 프로그램 사용', 'Fireguard 탐지')
 			insert into tbl_userban( nAccountSerial, dtStartDate, nPeriod, nKind, szReason, GMReason, GMWriter) values(@user_serial, getDate(), 999, 0, '불법 프로그램 사용', '불법 프로그램 사용', 'Fireguard 탐지')
 			insert into tbl_userban_log( nAccountSerial, dtStartDate, nPeriod, nKind, szReason, GMReason, GMWriter) values(@user_serial, getDate(), 999, 0, '불법 프로그램 사용', '불법 프로그램 사용', 'Fireguard 탐지')



-- 			update tbl_useraccount set loginfailurecnt = 0,  fire_detect_cnt = @fire_detect_cnt where serial = @user_serial
			update tbl_useraccount set loginfailurecnt = 0 where serial = @user_serial
			set @ret = 3
		end
		else
		begin
			if(@mDiffWarning <= @targetMinute)
			begin
				update tbl_useraccount set fire_on = @fire_warning, fire_warning = getdate() where serial = @user_serial
				set @ret = 2
			end
			else
			begin
				update tbl_useraccount set loginfailurecnt = 1, fire_on = getdate() where serial = @user_serial
				set @ret = 1
			end
		end
	end

	else
	-- 최대 3번의 블럭을 가질 수 있으며, 그 외의 블럭카운트는 1로 설정하도록 한다.(실제로 0, 1,2 외의 블럭카운트를 가질 수 없다)
	begin
		update tbl_useraccount set loginfailurecnt = 1, fire_on = getdate() where serial = @user_serial

	 	set @err_status = 0
	 	set @ret = 1
	end
end -- End : if(@user_serial is NULL)

if(@@ERROR<>0 )
begin
	set @err_status = 1
end

select @err_status, @ret

set nocount off

-- End

GO
/****** Object:  StoredProcedure [dbo].[pUpdate_FireguardBlock20071016]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[pUpdate_FireguardBlock20071016]  
@userid varchar(16),  
@targetMinute tinyint,
@reasontype tinyint
as
-- Begin  
  
set nocount on  
  
declare @err_status int  
declare @ret int  
declare @user_serial int  
declare @block_status tinyint  
declare @fire_on smalldatetime  
declare @fire_warning smalldatetime  
-- declare @fire_detect_cnt tinyint  
declare @mDiffOn tinyint  
declare @mDiffWarning tinyint  

select @user_serial = serial, @block_status = LoginFailureCnt, @fire_on = fire_on, @fire_warning = fire_warning  
from  tbl_useraccount   
where  id = convert(binary, @userid)  
  
  
set @mDiffOn = datediff(minute, @fire_on, getdate())  
set @mDiffWarning = datediff(minute, @fire_warning, getdate())  
  
if(@user_serial is NULL)  
begin  
  set @err_status = 0  
  set @ret = -1  
end  
else  
begin  
 if(@block_status = 0)  
 -- 아직 한번도 파이어 가드 블럭을 하지 않았을 경우  
 -- 단순히 loginfailurecnt 1, fire_on에 getdate() 설정  
 begin  
  update tbl_useraccount set loginfailurecnt = 1, fire_on = getdate() where serial = @user_serial  
  set @ret = 1  
 end  
  
 else if(@block_status = 1)  
 -- 파이어 가드 블럭이 한번 있을 경우  
 -- fire_on과 비교하여 @targetMinute분 이내일 경우, loginfailurecnt 2, fire_warning에 getdate() 설정.  
 -- fire_on과 비교하여 @targetMinute분 넘었을경우, loginfailurecnt 0, 설정.  
 begin  
  if(@mDiffOn <= @targetMinute)  
  begin  
   update tbl_useraccount set loginfailurecnt = 2, fire_warning = getdate() where serial = @user_serial  
   set @ret = 2  
  end  
  else  
  begin  
   update tbl_useraccount set loginfailurecnt = 1, fire_on = getdate() where serial = @user_serial  
   set @ret = 1  
  end  
 end  
  
 else if(@block_status = 2) -- 파이어 가드 블럭이 두번 있을 경우  
 -- 파티어 가드 블럭이 두번 있을 경우  
 -- fire_on과 비교하여 @targetMinute분 이내일 경우, loginfailurecnt 3 설정.  
 -- fire_on과 비교하여 @targetMinute분 넘었을 경우, fire_warning와 비교하여 @targetMinute분 이내일 경우 fire_on에 fire_warning설정, fire_warning에 getdate() 설정, fire_warning와 비교하여 @targetMinute분 넘었을 경우 loginfailurecnt 0 설정.  
 begin  
  if(@mDiffOn <= @targetMinute)  
  begin  
    insert into tbl_userban( nAccountSerial, dtStartDate, nPeriod, nKind, szReason, GMReason, GMWriter, reasontype ) values(@user_serial, getDate(), 999, 0, '불법 프로그램 사용', '불법 프로그램 사용', 'Fireguard 탐지', @reasontype)  
    insert into tbl_userban_log( nAccountSerial, dtStartDate, nPeriod, nKind, szReason, GMReason, GMWriter) values(@user_serial, getDate(), 999, 0, '불법 프로그램 사용', '불법 프로그램 사용', 'Fireguard 탐지')
   update tbl_useraccount set loginfailurecnt = 0 where serial = @user_serial  
   set @ret = 3  
  end  
  else  
  begin  
   if(@mDiffWarning <= @targetMinute)  
   begin  
    update tbl_useraccount set fire_on = @fire_warning, fire_warning = getdate() where serial = @user_serial  
    set @ret = 2  
   end  
   else  
   begin  
    update tbl_useraccount set loginfailurecnt = 1, fire_on = getdate() where serial = @user_serial  
    set @ret = 1  
   end  
  end  
 end  
  
 else  
 -- 최대 3번의 블럭을 가질 수 있으며, 그 외의 블럭카운트는 1로 설정하도록 한다.(실제로 0, 1,2 외의 블럭카운트를 가질 수 없다)  
 begin  
  update tbl_useraccount set loginfailurecnt = 1, fire_on = getdate() where serial = @user_serial  
  
   set @err_status = 0  
   set @ret = 1  
 end  
end -- End : if(@user_serial is NULL)  
  
if(@@ERROR<>0 )  
begin  
 set @err_status = 1  
end  
  
select @err_status, @ret  
  
set nocount off  
  
-- End  

GO
/****** Object:  StoredProcedure [dbo].[pUpdate_StaffLoginDate]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pUpdate_StaffLoginDate]
@id varchar(16),
@ip varchar(16)
AS
UPDATE tbl_StaffAccount SET LastloginDT = getdate(), LastConnIP = @ip WHERE id = @id

GO
/****** Object:  StoredProcedure [dbo].[pUpdate_StaffLogoffDate]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[pUpdate_StaffLogoffDate]
@nAccountSerial int
AS
UPDATE tbl_StaffAccount SET LastLogoffDT = getdate()  WHERE serial=@nAccountSerial
GO
/****** Object:  StoredProcedure [dbo].[pUpdate_UILock_Init]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*
 유저의 UILock에 대한 초기 설정  
  
 ## 이미 초기화 되어있는지 체크한다.  
 ## 계정 시리얼을 기준으로 목록 전체를 업데이트 하도록한다.  
  
 ## @ret  
 - 0 : Success  
 - 1 : Already Initialized  
 - 2 : None Exist Account  
*/  
create procedure [dbo].[pUpdate_UILock_Init]  
@accountserial int,  
@uilock_pw varchar(13),  
@hintindex tinyint,  
@hintanswer varchar(17),  
@ret tinyint output  
as

set @ret = 0  
declare @uilock tinyint  
  
select top 1 @uilock = [uilock] from [dbo].[tbl_useraccount] where [serial] = @accountserial  
  
if(@uilock is null) -- 요청한 계정 시리얼의 계정이 존재하지 않는다.  
begin  
 set @ret = 2  
 return  
end  
  
if(@uilock <> 0) -- 이미 초기화가 되어있을 경우는 0값이 아니다.  
begin  
 set @ret = 1  
 return  
end  
  
  
set nocount on  
  
update [dbo].[tbl_useraccount]
set  [uilock] = 1,   
  [uilock_pw] = convert(binary, @uilock_pw),   
  [uilock_failcnt] = 0,  
  [uilock_update] = getdate(),  
  [uilock_hintindex] = @hintindex,  
  [uilock_hintanswer] = convert(binary, @hintanswer)  
where [serial] = @accountserial  
  
set nocount off

GO
/****** Object:  StoredProcedure [dbo].[pUpdate_UILock_Refresh]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/**  
 유저의 UILock에 대한, 로그인 실패 정보 업데이트    
    
 ## @ret    
 - 0 : Success    
 - 1 : Doesn't Initialized    
 - 2 : None Exist Account    
 - 3 : Alert! 5번 이상 실패한 계정에 대해서는 @byFailCnt를 설정할 수 없다.    
 - 4 : Alert! 5번 이상 암호찾기 실패한 계정에 대해서는 @byFindPassFailCnt 설정할 수 없다.    
 */    
create procedure [dbo].[pUpdate_UILock_Refresh]    
@accountserial int,    
@byFailCnt tinyint,  
@byFindPassFailCnt tinyint,    
@ret tinyint output    
as  
  
set @ret = 0    
    
declare @uilock tinyint    
declare @uilock_failcnt tinyint  
declare @uilock_findpass_failcnt tinyint   
    
select @uilock = [uilock], @uilock_failcnt = [uilock_failcnt], @uilock_findpass_failcnt = [uilock_find_pass_failcnt]  
from [dbo].[tbl_useraccount] where [serial] = @accountserial    
    
if( (@uilock is null) or (@uilock_failcnt is null) )-- 요청한 계정 시리얼의 계정이 존재하지 않는다.    
begin    
 set @ret = 2    
 return    
end    
    
if(@uilock = 0) -- 아직 초기화 되지 않은 계정이다.    
begin    
 set @ret = 1    
 return    
end    
    
if(@uilock_failcnt >= 5) -- 5번 이상 실패한 계정은 횟수 변경을 할 수 없다.    
begin    
 set @ret = 3    
 return    
end    
  
if(@uilock_findpass_failcnt >= 5) -- 5번 이상 실패한 계정은 횟수 변경을 할 수 없다.    
begin    
 set @ret = 4  
 return    
end    
    
set nocount on    
    
update [dbo].[tbl_useraccount]  
set  [uilock_failcnt] = @byFailCnt, [uilock_find_pass_failcnt] =@byFindPassFailCnt  
where [serial] = @accountserial    
    
set nocount off

GO
/****** Object:  StoredProcedure [dbo].[pUpdate_UILock_Update]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*  
   유저의 UILock에 대한 정보 업데이트  
  
   ## 초기화되어 있지 않은 계정인지 체크한다.  
   ## @ret  
 - 0 : Success  
 - 1 : Doesn't Initialized  
 - 2 : None Exist Account  
*/  
create procedure [dbo].[pUpdate_UILock_Update]  
@accountserial int,  
@uilock_pw varchar(13),  
@uilock_hintindex tinyint,  
@uilock_hintanswer varchar(17),  
@ret tinyint output  
AS  
  
set @ret = 0  
  
declare @uilock tinyint  
  
select top 1 @uilock = uilock from tbl_useraccount where serial = @accountserial  
  
if(@uilock is null) -- 요청한 계정 시리얼의 계정이 존재하지 않는다.  
begin  
 set @ret = 2  
 return  
end  
  
if(@uilock = 0) -- 아직 초기화 되지 않은 계정이다.  
begin  
 set @ret = 1  
 return  
end  
  
  
set nocount on  
  
update tbl_useraccount  
set  uilock_pw = convert(binary, @uilock_pw),  
  uilock_failcnt = 0,  
  uilock_update = getdate(),  
  uilock_hintindex = @uilock_hintindex,  
  uilock_hintanswer = convert(binary, @uilock_hintanswer)  
where serial = @accountserial  
  
set nocount off  

GO
/****** Object:  StoredProcedure [dbo].[pUpdate_UserBan]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

/*
징계
*/
CREATE PROCEDURE [dbo].[pUpdate_UserBan]
@nSerial int,
@nPeriod int,
@nKind int,
@szReason varchar(32)
AS
UPDATE tbl_UserBan 
set nPeriod=@nPeriod, nKind=@nKind, dtStartdate=(getdate()), szReason=@szReason
where nAccountSerial=@nSerial
GO
/****** Object:  StoredProcedure [dbo].[pUpdate_UserBan_20070302]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pUpdate_UserBan_20070302]
@nSerial int,
@nPeriod int,
@nKind int,
@szReason varchar(32),
@szWriter varchar(32)
AS
UPDATE [dbo].[tbl_UserBan]
set nPeriod=@nPeriod, nKind=@nKind, dtStartdate=(getdate()), szReason=@szReason, GMReason = @szReason, GMWriter = @szWriter
where nAccountSerial=@nSerial


GO
/****** Object:  StoredProcedure [dbo].[pUpdate_UserBan_20071016]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



create procedure [dbo].[pUpdate_UserBan_20071016]
@nSerial int, 
@nPeriod int,
@nKind int,
@szReason varchar(32),
@szWriter varchar(32),
@reasontype tinyint
as
update [dbo].[tbl_UserBan]
set nPeriod=@nPeriod, nKind=@nKind, dtStartdate=(getdate()), szReason=@szReason, GMReason = @szReason, GMWriter = @szWriter, reasontype = @reasontype
where nAccountSerial=@nSerial

GO
/****** Object:  StoredProcedure [dbo].[pUpdate_UserCurrentState]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[pUpdate_UserCurrentState]
@serial int,
@state tinyint
as
update [dbo].[tbl_usercurrentstate] set [state] = @state where [serial] = @serial

GO
/****** Object:  StoredProcedure [dbo].[pUpdate_UserLoginDate]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



/*
사용자 계정의 Login 시간을 저장
*/
CREATE PROCEDURE [dbo].[pUpdate_UserLoginDate]
@id varchar(16),
@ip varchar(16)
AS
UPDATE tbl_UserAccount SET lastlogintime = getdate(), lastconnectip = @ip WHERE id = CONVERT(binary, @id)


GO
/****** Object:  StoredProcedure [dbo].[pUpdate_UserLogoffDate]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*
사용자 계정의 Logoff 시간을 저장
*/
CREATE PROCEDURE [dbo].[pUpdate_UserLogoffDate]
@nAccountSerial int
AS
UPDATE tbl_UserAccount SET lastlogofftime = getdate()  WHERE serial=@nAccountSerial
GO
/****** Object:  StoredProcedure [dbo].[pUpdate_UserPushDate]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



/*
사용자 계정의 이중접속으로 인한 밀어내기 정보를 저장
*/
CREATE PROCEDURE [dbo].[pUpdate_UserPushDate]
@id varchar(16),
@ip varchar(16)
AS
UPDATE tbl_UserAccount SET pushclosetime = getdate(), pusherip = @ip WHERE id = CONVERT(binary, @id)


GO
/****** Object:  StoredProcedure [dbo].[pUpdate_WorldServer]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pUpdate_WorldServer]
@Serial int,
@State int
AS
update tbl_WorldServer_List set State=@State, LastUpdate=getDate() where Serial=@Serial

GO
/****** Object:  StoredProcedure [dbo].[pWork_SelLoginCharacter]    Script Date: 12/01/2026 16:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pWork_SelLoginCharacter]
as

declare @Q nvarchar(1024)
declare @n int
declare @n2 int

SET NOCOUNT ON  

set @n = 20080523
set @n2 = @n

set @Q = 'CREATE TABLE [dbo].[tbl_logout_charinfo] ('
set @Q = @Q + '[nAccountSerial] [int] NOT NULL ,'
set @Q = @Q + '[nWorldCode] [int] NOT NULL ,'
set @Q = @Q + '[nAvatorSerial] [int] NULL ,'
set @Q = @Q + '[Account] [char] (17) NULL ,'
set @Q = @Q + ')'
exec sp_executesql @Q
-- print @Q

while (@n < 20080530)
begin
set @Q = 'insert into tbl_logout_charinfo (nAccountSerial, account, nworldcode, nAvatorSerial) select nAccountSerial, account, nworldcode, nAvatorSerial from tbl_UserLogout_Log' + convert(varchar, @n) + ' where nAvatorSerial != -1 and nAccountSerial < 2000000000 '
if(@n = 20080523)
begin
set @Q = @Q + 'and dtlogindate > ''2008-05-23 03:59:59'''
end
else if (@n = 20080529)
begin 
set @Q = @Q + 'and dtlogindate < ''2008-05-29 04:00:00'''
end

set @Q = @Q+' group by nAccountSerial, account, nworldcode, nAvatorSerial order by nworldcode, account, navatorserial'
exec sp_executesql @Q
-- print @Q

set @n = @n  + 1
end

select nAccountSerial, account,nworldcode,  case nWorldCode 
when 0 then 'CALIX' when 1 then 'XENOS' when 2 then 'ALTRAX' when 3 then 'PRAXIS ' when 4 then 'NEXUS' else convert(varchar, nWorldCode) end as WorldName,  nAvatorSerial 
into [dbo].[tbl_tempcharinfo] from tbl_logout_charinfo group by nAccountSerial, account, nworldcode, nAvatorSerial order by nworldcode, account ,nAccountSerial

drop table tbl_logout_charinfo 


SET NOCOUNT  OFF
select * from tempcharinfo

GO
USE [master]
GO
