#include "resource.h"
#include <windows.h>
#ifndef FW_NORMAL
#define FW_NORMAL 400
#endif
#ifndef FALSE
#define FALSE 0
#endif
#ifndef VK_N
#define VK_N 0x4E
#define VK_O 0x4F
#define VK_S 0x53
#define VK_P 0x50
#define VK_Z 0x5A
#define VK_X 0x58
#define VK_C 0x43
#define VK_V 0x56
#define VK_BACK 0x08
#define VK_DELETE 0x2E
#define VK_INSERT 0x2D
#define VK_F6 0x75
#endif
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

151 TEXT "TEXT151_1.txt"

128 MENU
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
{
  POPUP "File(&F)"
  {
    MENUITEM SEPARATOR
    MENUITEM "Exit(&X)",  57665
  }
  POPUP "Settings(&S)"
  {
    MENUITEM "Database(&D)...",  32772
    MENUITEM "Autostart(&A)",  32773
  }
  POPUP "Help(&H)"
  {
    MENUITEM "About WorldServer(&A)...",  57664
  }
}

100 DIALOG 0, 0, 235, 55
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "WorldServer About"
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
FONT 9, "굴림"
{
   CONTROL 128, -1, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 11, 17, 20, 20 
   CONTROL "WorldServer Version 1.0", -1, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 40, 10, 119, 8 
   CONTROL "Copyright (C) 2001", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 40, 25, 119, 8 
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 178, 7, 50, 14 
}

101 DIALOG 0, 0, 373, 220
STYLE DS_SETFONT | WS_CHILD
CAPTION ""
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
FONT 9, "굴림"
{
   CONTROL "Start", IDC_MAIN_START, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 7, 63, 14 
   CONTROL "Log File", 1023, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 89, 27, 59, 14 
   CONTROL "Monster", 1024, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 48, 27, 40, 14 
   CONTROL "Display All", 1029, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 27, 40, 14 
   CONTROL "Pre Close 10s", 1022, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 149, 27, 50, 14 
   CONTROL "Server Close", 1025, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 201, 27, 50, 14 
   CONTROL "Dungeon Load", 1043, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 254, 27, 50, 14 
}

130 DIALOG 0, 0, 218, 221
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_HSCROLL
CAPTION ""
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
FONT 10, "System"
{
}

132 DIALOG 0, 0, 136, 252
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE
CAPTION "Map"
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
FONT 10, "System"
{
   CONTROL "Tree1", 1005, "SysTreeView32", TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 7, 122, 196 
   CONTROL "Select map", 1009, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 79, 211, 50, 14 
}

133 DIALOG 0, 0, 136, 252
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE
CAPTION "Server"
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
FONT 10, "System"
{
   CONTROL "Tree1", 1000, "SysTreeView32", TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 7, 122, 194 
   CONTROL "Update", 1006, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 79, 211, 50, 14 
}

134 DIALOG 0, 0, 106, 100
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Object Search"
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
FONT 10, "System"
{
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 79, 38, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 62, 79, 37, 14 
   CONTROL "Object Kind", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 9, 9, 38, 8 
   CONTROL "Object ID", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 9, 25, 31, 8 
   CONTROL "Object Index", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 9, 41, 42, 8 
   CONTROL "", 1026, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 59, 39, 40, 14 
   CONTROL "", 1028, COMBOBOX, CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 51, 8, 48, 62 
   CONTROL "", 1029, COMBOBOX, CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 51, 23, 48, 74 
   CONTROL "", 1038, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 44, 59, 55, 14 
   CONTROL "CharName", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 62, 35, 8 
}

136 DIALOG 0, 0, 136, 253
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE
CAPTION "Object"
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
FONT 10, "System"
{
   CONTROL "Tree1", 1025, "SysTreeView32", TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 7, 122, 198 
   CONTROL "Update", 1004, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 212, 27, 14 
   CONTROL "Auto", 1026, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 38, 212, 28, 14 
   CONTROL "Search", 1003, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 101, 212, 28, 14 
   CONTROL "Destory", 1005, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 69, 212, 28, 14 
}

137 DIALOG 0, 0, 122, 246
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE
CAPTION "User"
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
FONT 10, "System"
{
   CONTROL "Bellato", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 9, 25, 8 
   CONTROL "", 1029, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 75, 7, 40, 12 
   CONTROL "Cora", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 24, 17, 8 
   CONTROL "", 1030, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 75, 22, 40, 12 
   CONTROL "Accretia", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 38, 41, 8 
   CONTROL "", 1031, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 75, 37, 40, 12 
}

138 DIALOG 0, 0, 122, 253
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE
CAPTION "Main"
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
FONT 10, "System"
{
   CONTROL "User in Lobby", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 10, 66, 8 
   CONTROL "", 1013, EDIT, ES_RIGHT | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 76, 23, 39, 14 
   CONTROL "Odd Msg", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 238, 30, 8 
   CONTROL "", 1021, EDIT, ES_RIGHT | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 77, 232, 38, 14 
   CONTROL "User in Field", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 27, 51, 8 
   CONTROL "", 1018, EDIT, ES_RIGHT | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 76, 7, 39, 14 
   CONTROL "", 1022, EDIT, ES_RIGHT | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 76, 39, 39, 14 
   CONTROL "Total User", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 42, 51, 8 
   CONTROL "Sleep Term", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 9, 161, 60, 8 
   CONTROL "", 1014, EDIT, ES_RIGHT | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 72, 174, 39, 14 
   CONTROL "Sleep Value", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 9, 177, 61, 8 
   CONTROL "", 1019, EDIT, ES_RIGHT | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 72, 158, 39, 14 
   CONTROL "", 1023, EDIT, ES_RIGHT | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 72, 190, 39, 14 
   CONTROL "Sleep Ignore", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 9, 193, 61, 8 
   CONTROL "Apply", 1039, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 62, 209, 50, 14 
   CONTROL "Main Thread Control", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 145, 107, 81 
   CONTROL "Obj", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 74, 17, 8 
   CONTROL "Net", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 89, 17, 8 
   CONTROL "Chk", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 105, 17, 8 
   CONTROL "", 1027, EDIT, ES_RIGHT | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 27, 71, 44, 14 
   CONTROL "", 1035, EDIT, ES_RIGHT | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 71, 71, 44, 14 
   CONTROL "", 1036, EDIT, ES_RIGHT | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 27, 87, 44, 14 
   CONTROL "", 1037, EDIT, ES_RIGHT | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 71, 87, 44, 14 
   CONTROL "", 1038, EDIT, ES_RIGHT | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 27, 103, 44, 14 
   CONTROL "", 1040, EDIT, ES_RIGHT | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 71, 103, 44, 14 
   CONTROL "Save Fail", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 33, 126, 33, 8 
   CONTROL "", 1041, EDIT, ES_RIGHT | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 71, 124, 44, 14 
}

140 DIALOG 0, 0, 190, 44
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE
CAPTION ""
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
FONT 12, "System"
{
   CONTROL "RF Server", IDC_LOADING_TITLE, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 8, 50, 8 
   CONTROL "Preparing startup...", IDC_LOADING_STATUS, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 24, 170, 8 
}

150 DIALOGEX 0, 0, 259, 223
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "RF Online License"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg", FW_NORMAL, FALSE, 1
{
   CONTROL "Yes", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 144, 200, 50, 14 
   CONTROL "No", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 199, 200, 50, 14 
   CONTROL "", 1032, EDIT, ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | ES_WANTRETURN | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 7, 29, 242, 137 
   CONTROL "Do you accept all of the terms of the preceding License Agreement? If you choose No. Run will close. to Run you moust accept this agreement.", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 173, 242, 22 
   CONTROL "Please read the following license agreement. Press the PAGE DOWN key to see the rest of agreement.", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 236, 22 
}

160 DIALOGEX 0, 0, 246, 300
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Server Setup"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg", FW_NORMAL, FALSE, 1
{
   CONTROL "World DB", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 12, 232, 64 
   CONTROL "Trusted Connection", IDC_DB_SETUP_WORLD_TRUSTED, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 27, 82, 10 
   CONTROL "User ID", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 45, 32, 8 
   CONTROL "", IDC_DB_SETUP_WORLD_USER, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 89, 42, 143, 14 
   CONTROL "Password", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 62, 35, 8 
   CONTROL "", IDC_DB_SETUP_WORLD_PASSWORD, EDIT, ES_LEFT | ES_PASSWORD | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 89, 59, 143, 14 
   CONTROL "Billing DB", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 81, 232, 108 
   CONTROL "Server Address", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 97, 51, 8 
   CONTROL "", IDC_DB_SETUP_BILLING_SERVER, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 89, 94, 143, 14 
   CONTROL "DB Name", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 114, 39, 8 
   CONTROL "", IDC_DB_SETUP_BILLING_DB, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 89, 111, 143, 14 
   CONTROL "Trusted Connection", IDC_DB_SETUP_BILLING_TRUSTED, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 89, 130, 82, 10 
   CONTROL "User ID", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 149, 32, 8 
   CONTROL "", IDC_DB_SETUP_BILLING_USER, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 89, 146, 143, 14 
   CONTROL "Password", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 166, 35, 8 
   CONTROL "", IDC_DB_SETUP_BILLING_PASSWORD, EDIT, ES_LEFT | ES_PASSWORD | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 89, 163, 143, 14 
   CONTROL "AccountLine", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 194, 232, 42 
   CONTROL "Server Address", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 209, 51, 8 
   CONTROL "", IDC_DB_SETUP_ACCOUNT_ADDRESS, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 71, 206, 111, 14 
   CONTROL "Port", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 188, 209, 14, 8 
   CONTROL "", IDC_DB_SETUP_ACCOUNT_PORT, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 205, 206, 27, 14 
   CONTROL "ClientLine", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 239, 232, 42 
   CONTROL "Gate IP", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 254, 35, 8 
   CONTROL "", IDC_DB_SETUP_GATE_IP, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 71, 251, 111, 14 
   CONTROL "Port", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 188, 254, 14, 8 
   CONTROL "", IDC_DB_SETUP_GATE_PORT, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 205, 251, 27, 14 
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 134, 284, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 189, 284, 50, 14 
}

STRINGTABLE
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
{
  128, 	"WorldServer\n\nWorldServer\n\n\nWorldServer.Document\nWorldServer Document"
}

STRINGTABLE
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
{
  32771, 	"디스플레이"
}

STRINGTABLE
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
{
  32786, 	"Test command"
}

STRINGTABLE
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
{
  57344, 	"WorldServer"
  57345, 	"준비"
}

STRINGTABLE
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
{
  57600, 	"새 문서를 작성합니다\n새 파일"
  57601, 	"기존 문서를 엽니다\n열기"
  57602, 	"현재 열린 문서를 닫습니다\n닫기"
  57603, 	"현재 열린 문서를 저장합니다\n저장"
  57604, 	"현재 열린 문서를 다른 이름으로 저장합니다\n다른 이름으로 저장"
  57605, 	"인쇄 옵션을 변경합니다\n쪽 설정"
  57606, 	"프린터와 인쇄 옵션을 변경합니다\n인쇄 설정"
  57607, 	"현재 열린 문서를 인쇄합니다\n인쇄"
  57609, 	"쪽 전체를 표시합니다\n인쇄 미리 보기"
}

STRINGTABLE
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
{
  57616, 	"이 문서를 엽니다"
  57617, 	"이 문서를 엽니다"
  57618, 	"이 문서를 엽니다"
  57619, 	"이 문서를 엽니다"
  57620, 	"이 문서를 엽니다"
  57621, 	"이 문서를 엽니다"
  57622, 	"이 문서를 엽니다"
  57623, 	"이 문서를 엽니다"
  57624, 	"이 문서를 엽니다"
  57625, 	"이 문서를 엽니다"
  57626, 	"이 문서를 엽니다"
  57627, 	"이 문서를 엽니다"
  57628, 	"이 문서를 엽니다"
  57629, 	"이 문서를 엽니다"
  57630, 	"이 문서를 엽니다"
  57631, 	"이 문서를 엽니다"
}

STRINGTABLE
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
{
  57632, 	"선택 부분을 지웁니다\n지우기"
  57633, 	"모든 것을 지웁니다\n모두 지우기"
  57634, 	"선택 부분을 복사하여 클립보드에 넣습니다\n복사"
  57635, 	"선택 부분을 잘라내어 클립보드에 넣습니다\n잘라내기"
  57636, 	"지정한 문자열을 찾습니다\n찾기"
  57637, 	"클립보드의 내용을 붙여 넣습니다\n붙여넣기"
  57640, 	"마지막으로 실행한 동작을 반복합니다\n반복"
  57641, 	"지정한 문자열을 다른 문자열로 바꿉니다\n바꾸기"
  57642, 	"문서 전체를 선택합니다\n전체 선택"
  57643, 	"마지막으로 한 동작을 취소합니다\n실행 취소"
  57644, 	"이전에 취소한 동작을 다시 수행합니다\n다시 실행"
}

STRINGTABLE
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
{
  57653, 	"현재 열린 창을 나눕니다\n나누기"
}

STRINGTABLE
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
{
  57664, 	"프로그램 정보와 버전 정보, 저작권 정보를 표시합니다\n정보"
  57665, 	"응용 프로그램을 종료하기 위해 문서를 저장할 것인지 묻습니다\n종료"
}

STRINGTABLE
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
{
  57680, 	"다음 창으로 전환합니다\n다음 창"
  57681, 	"이전 창으로 전환합니다\n이전 창"
}

STRINGTABLE
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
{
  59136, 	"EXT"
  59137, 	"CAP"
  59138, 	"NUM"
  59139, 	"SCRL"
  59140, 	"OVR"
  59141, 	"REC"
  59143, 	" "
}

STRINGTABLE
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
{
  59392, 	"도구 모음을 보이거나 감춥니다\n도구 모음 전환"
  59393, 	"상태 표시줄을 표시하거나 감춥니다\n상태 표시줄 전환"
}

STRINGTABLE
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
{
  61184, 	"창의 크기를 변경합니다"
  61185, 	"창의 위치를 변경합니다"
  61186, 	"창을 아이콘으로 줄여서 표시합니다"
  61187, 	"창을 최대 크기로 확장합니다"
  61188, 	"다음 문서 창으로 전환합니다"
  61189, 	"이전 문서 창으로 전환합니다"
  61190, 	"현재 열린 창을 닫고 문서를 저장할 것인지를 묻습니다"
}

STRINGTABLE
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
{
  61202, 	"창을 원래 크기로 복원합니다"
  61203, 	"작업 목록을 활성화합니다"
}

STRINGTABLE
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
{
  61445, 	"인쇄 미리 보기 모드를 닫습니다\n미리 보기 취소"
}


128 ACCELERATORS
LANGUAGE LANG_KOREAN, SUBLANG_KOREAN
{
	VK_N, 57600, CONTROL, VIRTKEY
	VK_O, 57601, CONTROL, VIRTKEY
	VK_S, 57603, CONTROL, VIRTKEY
	VK_P, 57607, CONTROL, VIRTKEY
	VK_Z, 57643, CONTROL, VIRTKEY
	VK_X, 57635, CONTROL, VIRTKEY
	VK_C, 57634, CONTROL, VIRTKEY
	VK_V, 57637, CONTROL, VIRTKEY
	VK_BACK, 57643, ALT, VIRTKEY
	VK_DELETE, 57635, SHIFT, VIRTKEY
	VK_INSERT, 57634, CONTROL, VIRTKEY
	VK_INSERT, 57637, SHIFT, VIRTKEY
	VK_F6, 57680, VIRTKEY
	VK_F6, 57681, SHIFT, VIRTKEY
}

128 ICON "ICON128_1.ico"

129 ICON "ICON129_1.ico"


1 VERSIONINFO
FILEVERSION 1,0,0,1
PRODUCTVERSION 1,0,0,1
FILEOS 0x4
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "041204B0"
	{
		VALUE "FileDescription", "RF Online WorldServer"
		VALUE "FileVersion", "1, 0, 0, 1"
		VALUE "InternalName", "WorldServer"
		VALUE "LegalCopyright", "Copyright (C) 2001"
		VALUE "OriginalFilename", "WorldServer.exe"
		VALUE "ProductName", "RF Online WorldServer"
		VALUE "ProductVersion", "1, 0, 0, 1"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0412 0x04B0  
}
}

#ifndef NO_LEGACY_DEBUG_MANIFEST
1 24 "MANIFEST1_1.txt"
#endif

134 RCDATA "240134_1.bin"

128 RCDATA "241128_1.bin"








