#include "resource.h"
#include <windows.h>
#ifndef FW_NORMAL
#define FW_NORMAL 400
#endif
#ifndef FALSE
#define FALSE 0
#endif
#ifndef VK_N
#define VK_N 0x4E
#define VK_O 0x4F
#define VK_S 0x53
#define VK_P 0x50
#define VK_Z 0x5A
#define VK_X 0x58
#define VK_C 0x43
#define VK_V 0x56
#define VK_BACK 0x08
#define VK_DELETE 0x2E
#define VK_INSERT 0x2D
#define VK_F6 0x75
#endif

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

151 TEXT "TEXT151_1.txt"

IDR_MAINFRAME MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  POPUP "File(&F)"
  {
    MENUITEM SEPARATOR
    MENUITEM "Exit(&X)",  ID_APP_EXIT
  }
  POPUP "Help(&H)"
  {
    MENUITEM "About GameServer(&A)...",  ID_APP_ABOUT
  }
}

IDD_ABOUTBOX DIALOG 0, 0, 235, 55
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About GameServer"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "System"
{
   CONTROL 128, -1, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 11, 17, 20, 20
   CONTROL "GameServer 1.0", -1, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 40, 10, 119, 8
   CONTROL "Copyright (C) 2001", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 40, 25, 119, 8
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 178, 7, 50, 14
}

IDD_MAIN_VIEW DIALOG 0, 0, 373, 199
STYLE DS_SETFONT | WS_CHILD
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "System"
{
   CONTROL "Action", 1023, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 89, 7, 59, 14
   CONTROL "Monster", 1024, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 48, 7, 40, 14
   CONTROL "Display All", 1029, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 7, 40, 14
   CONTROL "Speed x10", 1022, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 149, 7, 50, 14
   CONTROL "Server Close", 1025, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 201, 7, 50, 14
   CONTROL "Dungeon Load", 1043, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 254, 7, 50, 14
}

IDD_LOG_VIEW DIALOG 0, 0, 218, 221
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_HSCROLL
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 10, "System"
{
}

IDD_MAP_VIEW DIALOG 0, 0, 136, 252
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE | WS_CAPTION
CAPTION "Map"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 10, "System"
{
   CONTROL "Tree1", 1005, "SysTreeView32", TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 7, 122, 216
   CONTROL "Load", 1009, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 79, 231, 50, 14
}

IDD_SERVER_VIEW DIALOG 0, 0, 136, 252
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE | WS_CAPTION
CAPTION "Server"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 10, "System"
{
   CONTROL "Tree1", 1000, "SysTreeView32", TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 7, 122, 214
   CONTROL "Update", 1006, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 79, 231, 50, 14
}

IDD_OBJECT_SEARCH DIALOG 0, 0, 106, 100
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Object Search"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 10, "System"
{
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 79, 38, 14
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 62, 79, 37, 14
   CONTROL "Object Kind", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 9, 9, 38, 8
   CONTROL "Object ID", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 9, 25, 31, 8
   CONTROL "Object Index", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 9, 41, 42, 8
   CONTROL "", 1026, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 59, 39, 40, 14
   CONTROL "", 1028, COMBOBOX, CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 51, 8, 48, 62
   CONTROL "", 1029, COMBOBOX, CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 51, 23, 48, 74
   CONTROL "", 1038, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 44, 59, 55, 14
   CONTROL "Char Name", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 62, 35, 8
}

IDD_OBJECT_VIEW DIALOG 0, 0, 136, 253
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE | WS_CAPTION
CAPTION "Object"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 10, "System"
{
   CONTROL "Tree1", 1025, "SysTreeView32", TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 7, 122, 218
   CONTROL "Update", 1004, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 232, 27, 14
   CONTROL "Auto", 1026, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 38, 232, 28, 14
   CONTROL "Search", 1003, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 101, 232, 28, 14
   CONTROL "Destroy", 1005, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 69, 232, 28, 14
}

IDD_USER_VIEW DIALOG 0, 0, 122, 246
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "User"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 10, "System"
{
   CONTROL "Name", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 9, 25, 8
   CONTROL "", 1029, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 75, 7, 40, 12
   CONTROL "Level", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 24, 17, 8
   CONTROL "", 1030, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 75, 22, 40, 12
   CONTROL "Status", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 38, 41, 8
   CONTROL "", 1031, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 75, 37, 40, 12
}

IDD_MAIN_PANEL DIALOG 0, 0, 122, 253
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Main"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 10, "System"
{
   CONTROL "User in Lobby", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 10, 66, 8
   CONTROL "", 1013, EDIT, ES_RIGHT | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 76, 23, 39, 14
   CONTROL "Odd Msg", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 238, 30, 8
   CONTROL "", 1021, EDIT, ES_RIGHT | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 77, 232, 38, 14
   CONTROL "User in Field", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 27, 51, 8
   CONTROL "", 1018, EDIT, ES_RIGHT | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 76, 7, 39, 14
   CONTROL "", 1022, EDIT, ES_RIGHT | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 76, 39, 39, 14
   CONTROL "Total User", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 42, 51, 8
   CONTROL "Sleep Term", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 9, 161, 60, 8
   CONTROL "", 1014, EDIT, ES_RIGHT | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 72, 174, 39, 14
   CONTROL "Sleep Value", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 9, 177, 61, 8
   CONTROL "", 1019, EDIT, ES_RIGHT | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 72, 158, 39, 14
   CONTROL "", 1023, EDIT, ES_RIGHT | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 72, 190, 39, 14
   CONTROL "Sleep Ignore", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 9, 193, 61, 8
   CONTROL "Apply", 1039, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 62, 209, 50, 14
   CONTROL "Main Thread Control", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 145, 107, 81
   CONTROL "Obj", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 74, 17, 8
   CONTROL "Net", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 89, 17, 8
   CONTROL "Chk", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 105, 17, 8
   CONTROL "", 1027, EDIT, ES_RIGHT | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 27, 71, 44, 14
   CONTROL "", 1035, EDIT, ES_RIGHT | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 71, 71, 44, 14
   CONTROL "", 1036, EDIT, ES_RIGHT | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 27, 87, 44, 14
   CONTROL "", 1037, EDIT, ES_RIGHT | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 71, 87, 44, 14
   CONTROL "", 1038, EDIT, ES_RIGHT | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 27, 103, 44, 14
   CONTROL "", 1040, EDIT, ES_RIGHT | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 71, 103, 44, 14
   CONTROL "Save Fail", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 33, 126, 33, 8
   CONTROL "", 1041, EDIT, ES_RIGHT | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 71, 124, 44, 14
}

IDD_LOADING DIALOG 0, 0, 97, 34
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 12, "System"
{
   CONTROL "Now Loading...", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 25, 19, 60, 8
   CONTROL "RF Server", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 31, 7, 34, 8
}

IDD_LICENSE DIALOGEX 0, 0, 259, 223
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "RF Online License"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg", FW_NORMAL, FALSE, 1
{
   CONTROL "Yes", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 144, 200, 50, 14
   CONTROL "No", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 199, 200, 50, 14
   CONTROL "", 1032, EDIT, ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | ES_WANTRETURN | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 7, 29, 242, 137
   CONTROL "Do you accept all of the terms of the preceding License Agreement? If you choose No. Run will close. To run you must accept this agreement.", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 173, 242, 22
   CONTROL "Please read the following license agreement. Press PAGE DOWN to see the rest of the agreement.", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 236, 22
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  128, "GameServer\n\nGameSe\n\n\nGameServer.Document\nGameSe Document"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  32771, "Command"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  32786, "Test command"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  57344, "GameServer"
  57345, "Status"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  57600, "New file\nCreate a new file"
  57601, "Open file\nOpen an existing file"
  57602, "Close\nClose the active document"
  57603, "Save\nSave the active document"
  57604, "Save As\nSave with a new name"
  57605, "Print\nPrint the active document"
  57606, "Print Preview\nDisplay full pages"
  57607, "Print Setup\nSelect printer options"
  57609, "Exit\nQuit the application"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  57616, "Tool"
  57617, "Tool"
  57618, "Tool"
  57619, "Tool"
  57620, "Tool"
  57621, "Tool"
  57622, "Tool"
  57623, "Tool"
  57624, "Tool"
  57625, "Tool"
  57626, "Tool"
  57627, "Tool"
  57628, "Tool"
  57629, "Tool"
  57630, "Tool"
  57631, "Tool"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  57632, "Command\nReady"
  57633, "Command\nReady"
  57634, "Command\nReady"
  57635, "Command\nReady"
  57636, "Command\nReady"
  57637, "Command\nReady"
  57640, "Command\nReady"
  57641, "Command\nReady"
  57642, "Command\nReady"
  57643, "Command\nReady"
  57644, "Command\nReady"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  57653, "Command\nReady"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  57664, "About GameServer"
  57665, "Exit"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  57680, "Next pane"
  57681, "Previous pane"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  59136, "EXT"
  59137, "CAP"
  59138, "NUM"
  59139, "SCRL"
  59140, "OVR"
  59141, "REC"
  59143, " "
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  59392, "Ready"
  59393, "Ready"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  61184, "Command"
  61185, "Command"
  61186, "Command"
  61187, "Command"
  61188, "Command"
  61189, "Command"
  61190, "Command"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  61202, "Command"
  61203, "Command"
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  61445, "Command\nReady"
}

IDR_MAINFRAME ACCELERATORS
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  VK_N, 57600, CONTROL, VIRTKEY
  VK_O, 57601, CONTROL, VIRTKEY
  VK_S, 57603, CONTROL, VIRTKEY
  VK_P, 57607, CONTROL, VIRTKEY
  VK_Z, 57643, CONTROL, VIRTKEY
  VK_X, 57635, CONTROL, VIRTKEY
  VK_C, 57634, CONTROL, VIRTKEY
  VK_V, 57637, CONTROL, VIRTKEY
  VK_BACK, 57643, ALT, VIRTKEY
  VK_DELETE, 57635, SHIFT, VIRTKEY
  VK_INSERT, 57634, CONTROL, VIRTKEY
  VK_INSERT, 57637, SHIFT, VIRTKEY
  VK_F6, 57680, VIRTKEY
  VK_F6, 57681, SHIFT, VIRTKEY
}

IDR_MAINFRAME ICON "ICON128_1.ico"
129 ICON "ICON129_1.ico"

1 VERSIONINFO
FILEVERSION 1,0,0,1
PRODUCTVERSION 1,0,0,1
FILEOS 0x4
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
  BLOCK "040904B0"
  {
    VALUE "FileDescription", "GameServer MFC"
    VALUE "FileVersion", "1, 0, 0, 1"
    VALUE "InternalName", "GameServer"
    VALUE "LegalCopyright", "Copyright (C) 2001"
    VALUE "OriginalFilename", "GameServer.EXE"
    VALUE "ProductName", "GameServer"
    VALUE "ProductVersion", "1, 0, 0, 1"
  }
}

BLOCK "VarFileInfo"
{
  VALUE "Translation", 0x0409 0x04B0
}
}

134 RCDATA "240134_1.bin"

128 RCDATA "241128_1.bin"
